[2018-03-08 13:42] nizz0k opened #591 "NPM install fails due to permissions errors and failed directory creation"
So, I'm just getting started with Understrap on a Linux Subsystem on Windows localhost setup. Node works fine, but running "npm install" from the theme folder produces the following errors:

[code]
I've read the medium post on how to fix this, but my only gulp-util dependency is gulp itself, so not sure how proceed here. Sorry for being a noob.

[2018-03-08 16:16] 0dp commented on #591
Hi @nizz0k

is `var/www/html/dml-uganda.org/` the correct path for your installation?

[2018-03-09 02:10] brunomac commented on #470
same here. :(
wordpress 4.9.4;
understrap 0.8.0
understrap-child 0.5.0

[2018-03-09 04:37] GuerrillaCoder commented on #103
@axlright I think people use this theme because it has bootstrap, gulp and is basic enough to be flexible.  It's definitely for developers.  If it goes down the road of appealing to non-devs with lots of database options then I think it will ruin it.

@0dp I am not sure about node pre-install script.  The JS/css files are just a small piece of the puzzle, the php code that implements it needs to b

[2018-03-09 09:39] nizz0k commented on #591
Hi @Odp, thanks for your answer. Yes, the path is correct for the wordpress root. the understrap folder is nested a few folders further. I tried installing from the website and uploading the folders, now I'm trying with just npm

[2018-03-09 12:10] nizz0k commented on #591
So, I've been testing different approaches, and it might be a weird WSSL node issue, as I seem to get "EACCES" errors as well. The file path is correct, but the folders the script is trying to find don't exist.

[2018-03-09 13:58] Thomas-A-Reinert commented on #582
Yeap, I guess they won´t play nice together. But i cannot figure out a nice workaround though. CritCSS can only be used/set up correctly when there are no variables, U guess.

[2018-03-09 19:11] FutureMedia commented on #585
A list of Gutenberg resources:
https://wplift.com/gutenberg-editor-resources?utm_source=The+WhiP+by+WPMU+DEV&utm_campaign=52c86745a0-THE_WHIP_Man_In_The_CodeMirror_2018_01_08&utm_medium=email&utm_term=0_74fb43fd55-52c86745a0-104421545

[2018-03-09 19:29] justme101 commented on #216
trying to get the slider to show on the 'front' page. read the comments from above with the php snippits to add. also read the comments from here: https://github.com/understrap/understrap/issues/457 . I did make a seperate templete named: front-page.php (basicly copied the page templete) but nothing is working. I am using  (Version: 0.8.0) this is the same on WP.org Any help would be appreciated.

[2018-03-09 20:03] justme101 opened #592 "Hero slider on home page not working."
I originally posted this in issue #216 but realized too late that it was closed. trying to get the slider to show on the 'front' page. read the comments from above with the php snippits to add. also read the comments from here: #457 . I did make a seperate templete named: front-page.php (basicly copied the page templete) but nothing is working. I am using (Version: 0.8.0) this is the same on WP.or

[2018-03-09 23:08] jsgaonac opened #593 "Add a "good to go" javascript file"
This is a proposal to include a "ready to start" javascript file in the js directory. I've found myself copying and pasting the same gulp task from previous projects to add custom code, and it would be very convenient to have it "out of the box" (see issue #548). Also, this script could be transpiled with Babel to add ES2015 support. I can submit a pull request, if you want this to be implemented.

[2018-03-11 15:47] holger1411 commented on #592
Can you post the changes you did to line 19-21 in your front-page.php?

Basically `<?php if ( is_front_page() && is_home() ) : ?>` means the template just loads the hero area if the page is the frontpage AND homepage

The difference between front- and homepage is well explained here:
https://wordpress.stackexchange.com/questions/30385/when-to-use-is-home-vs-is-front-page

And:
Do you set your fron

[2018-03-11 15:50] holger1411 commented on #591
@nizz0k Which node and npm version do you use?
Find a lot of issues with the same/similiar errore message on Windows PC´s and the solution was always to up- or downgrade npm...

[2018-03-11 16:25] holger1411 opened #594 "UnderStrap 0.8.1 release - Feedback"
I released UnderStrap 0.8.1 a few days ago here on Github.com (https://github.com/understrap/understrap/releases/tag/0.8.1) and today on wordpress.org (https://wordpress.org/themes/understrap/) and on understrap.com.

If you have any feedback or if you found a bug or ran into a problem with this new version please add it here. Any feedback is appreciated!

[2018-03-11 16:49] nizz0k commented on #591
@holger1411 I'm running node 8.9.4 and npm 5.6.0. I guess I can try to systematically roll back, or is there a version you'd recommend?

[2018-03-11 19:49] holger1411 commented on #570
@IngoVals I invited you to join our small but brave UnderStrap team.

[2018-03-11 19:58] holger1411 commented on #591
Hm, I have no experience on Windows systems.
But I use node: '6.9.1' currently. Very oldschool I know. But I can confirm that it works here.
@all Anyone else here with the same/similar problem?

[2018-03-12 02:20] typeplus commented on #570
Happy to be a part of the team. As per my commit history Woocommerce is my area I use most 👍

[2018-03-12 15:24] justme101 commented on #592
Thanks for the reply. yes, I did change the front page settings to point to the 'front page'
I also have the 'post page' pointing to the 'blog page'

here is the code i have starting on line 13 of the 'front-page.php file:
get_header();

$container   = get_theme_mod( 'understrap_container_type' );

?>

<?php if ( is_front_page() && is_home() ) : ?>
	<?php get_template_part( 'global-templates/hero'

[2018-03-12 22:49] justme101 commented on #592
update--- , i noticed that this was not showingabove <?php if ( is_front_page() && is_home() ) : ?> this was on line 15..... I actually removed this whole php snippet plus the end if statement and it is now working perfectly

[2018-03-12 22:54] justme101 commented on #592
so to recap; (if this helps someone else) i made a templete for just the front page called front-page.php by copying the [page] templete. I then added <?php get_template_part( 'global-templates/hero' ); ?> on line 19 and everything is now showing on the 'front' page or home page.

[2018-03-14 10:35] robwakeman commented on #331
I'm revisiting this, after downloading the latest understrap-child files from [https://github.com/understrap/understrap-child](https://github.com/understrap/understrap-child).

The issue is still there i.e.
If I make an edit in:
themes/understrap-child/sass/theme/_child_theme.scss
the changed CSS is correctly injected into the browser with browser-sync.

But, if I then make an edit in say a php te

[2018-03-14 10:59] Thomas-A-Reinert commented on #331
Hi Rob,

I´m not the gulpfile-guru, but there shouldn´t be a caching problem according to my experiences, except you may have any caching-plugin installed or set .css files to be browser-cached in a customized .htaccess file.

It may be helpful though to always have the chrome dev-tools open anyway - that should avoid caching contents then.

[2018-03-14 11:25] robwakeman commented on #331
Thanks Thomas

I'm not aware of having a caching plugin installed and the .htaccess just has the standard WordPress rules in it, nothing else I'm aware of.

I tried restarting gulp, then opened chrome dev tools. This didn't solve it. Again, for me, the only thing that worked was a hard browser refresh. Hmm...

Thanks for the tips, though.

[2018-03-14 18:02] southrivertech commented on #449
Hi,
I downloaded the latest build from getbootstrap on 3/13/2018 @8pm GMT-500 and the problem persists.

any recommendations?

[2018-03-14 22:52] Thomas-A-Reinert opened #595 "There´s a lot of common Github-Project files missing to improve Pull Requests, Issues etc."
E.G.:
- PULL_REQUEST_TEMPLATE.md
- ISSUE_TEMPLATE.md
- CONTRIBUTING.md
- CODE-OF-CONDUCT.md

Check my current [WordPress-Developer-Checklist repo](https://github.com/Thomas-A-Reinert/WordPress-Developer-Checklist) on how those may improve the workflow, be it issues, pull request or the likes. I´m willing to sync those.

[2018-03-14 23:06] Thomas-A-Reinert opened #596 "Upon further inspection, a whole lot of the .md files is either incomplete or just s*cks. Sorry."
Everything said above.
- Either, information is not up to date
- it is incomplete
- it´s not well-formed.
- or is missing (CONTRIBUTING.md, ISSUE_TEMPLATE.md, PULL_REQUEST_TEMPLATE.md, CODE-OF-CONDUCT.md)

My current [WordPress-Developer-Checklist](https://github.com/Thomas-A-Reinert/WordPress-Developer-Checklist) repo still ain´t perfect but there may be some things to learn from. Willing to add

[2018-03-14 23:15] Thomas-A-Reinert commented on #593
Just my personal 2cent - I guess Babel conversion is out of scope of this project. Almost everyone may want to use jQuery to stick within the projects scope, so I - as is said: personal opinion! - guess noone will _ever_ tend to try to note ES6 and have it transcripted to vanilla javascript If you really, really need to have that - note down your ES6 outside the theme dir and have it converted to

[2018-03-15 10:02] omiras commented on #449
Hi,

I had a similar problem, and it was about the order I loaded boostrap
script.
Are you loading Jquery as well?
If so, make sure that Boostrap is the *last *script you load

2018-03-14 19:02 GMT+01:00 southrivertech <notifications@github.com>:

[2018-03-15 10:57] RichForever opened #597 "Sass compile error"
I just downloaded understrap and I want to change simple thing. Hex code for $primary variable in _theme_variables.scss

so.. I installed node etc.. I opened file _theme_variables.scss (wp-content\themes\understrap\sass\theme)
I changed the $primary variable to "red" for example and I get following error

`[11:51:51] Starting 'styles'...
[11:51:51] Starting 'sass'...
{ [Error: sass\theme.scss
Erro

[2018-03-15 14:05] #597 closed

[2018-03-15 14:06] RichForever commented on #597
Problem solved. I have addon or VS Code to compile scss. When I click save in VSCode it compile my scss and gulp in the same time too so that cause the problem.

[2018-03-15 16:43] jsgaonac commented on #593
Hi @Thomas-A-Reinert, thanks for your reply! Babel transpiling is an optional feature. I suggested it because ES2015 introduced nice features ([template literals](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Template_literals), [arrow functions](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Functions/Arrow_functions), to name a few) (which I personally use

[2018-03-15 20:07] edmacfly opened #598 "Using wp_localize_script in Child Theme"
I've successfully added some custom JS using the gulp file, however, I have one script that I need to pass some variables to from PHP. I would normally use the wp_localize_script within functions.php, but as this is not the preferred way to enqueue scripts within Understrap I wondered if there is another way to achieve this. I appreciate any help anyone can offer.

[2018-03-15 22:29] Thomas-A-Reinert commented on #593
Hi @jsgaonac - I totally understand what you mean. And I also know about the benefits of Typescript as well as ES5/6 because I´m currently teaching myself Angular as well as (P)React.

What I was originally meaning to say was: It adds another barrier for anyone who´s not so well accomplished with modern workflows and the latest development in every single branch. In my experience, even a "simple"

[2018-03-16 02:08] Thomas-A-Reinert commented on #596
https://github.com/understrap/understrap/community had just two criteria fulfilled.
[ x ] Description
[ x ] Readme

Now its five.
[ x ] Description
[ x ] Readme
[ x ] Code of conduct
[ x ] Contributing
[ x ] Issue template

Still missing:
[   ] License template, gonna care about that within the next days.

None of my supplied pulls are perfect - but need investigation and improvement by @holger141

[2018-03-16 12:35] webbyhall opened #600 "No padding inside TinyMCE editor window"
Please delete anything that does not apply for you!

## I'm submitting a ...
  - [ ] bug report

## Please tell us about your environment:

  - WordPress Version: 4.9.4
  - Browser: [ all ]

There seems to be no padding within the window on the TinyMCE editor, so any written content is placed tight against the window border. This seems to be the case for Understrap itself and the child theme.

![t

[2018-03-16 19:25] holger1411 commented on #596
👍

[2018-03-16 21:30] pizza-r0b commented on #594
`$grid-gutter-width-base` in understrap.scss is undefined. Fixing that will lead down a rabbit hole of many other scss variables being undefined. What changed and why are these no longer defined anywhere?

[2018-03-17 06:57] jaredsnider opened #601 "Child theme update process breaks at `npm install`: `Error: Cannot find module './gulpconfig.json'`"
## I'm submitting a ...
  - [x] bug report

## Please tell us about your environment:

  - WordPress Version: 4.9.4
  - Browser: [ all ]
  - Language: [ all ]

---

## In case of Bugs

### *Who* is the bug affecting?
The designer/developer building with Understrap Parent/Child

### *What* is affected by this bug?
Child theme update process breaks at `npm install`

### *When* does this occur?
At `n

[2018-03-17 07:19] jaredsnider commented on #601
I am not sure why my child them was missing `gulpconfig.json`, but I copied that as well as `gulpfile.js` and `package.json` from a fresh version of understrap-child and its working fine. Please pardon my human error and erroneous issue posting.

[2018-03-17 07:19] #601 closed

[2018-03-17 11:40] holger1411 commented on #594
Basically it is defined in Bootstrap´s _variables.scss here:
https://github.com/understrap/understrap/blob/master/src/sass/bootstrap4/_variables.scss#L198
Pls check if this file is present in your folder

[2018-03-17 20:28] Thomas-A-Reinert commented on #596
Some things could still be improved but the heap of it is fixed now.

[2018-03-17 20:29] Thomas-A-Reinert commented on #595
All included now. Some need rework though.

[2018-03-17 20:29] #595 closed

[2018-03-17 20:32] Thomas-A-Reinert commented on #592
Closing it, cos it seems to be resolved. Please reopen if you need to.

[2018-03-17 20:32] #592 closed

[2018-03-17 20:34] #557 closed

[2018-03-17 21:21] mherda opened #602 "Running custom js"
Hi,

I have added a file (.js) to js/ directory. As gulp watch is running it has run 'gulp scripts'. As my file is in js/ directory, I assume I don't need to change anything in gulpfile as the path is the same. Yet my code does not run. For testing purposes, I just included: alert("hello"); in my .js file.

What else do I need to do?

Also, Would you be able to add support for ES6 compiling to you

[2018-03-17 21:50] Thomas-A-Reinert commented on #600
Thanks for submitting this issue, @webbyhall .

It seemed easy but digging deeper into this issue, it seems to become overly complex.

Why is that? Reasons:

1. The custom-editor-style.css gets generated from your *.scss files upon the gulp "scss-for-prod" and "gulp sass" tasks.
2. So whatever I´ll write into the source scss-files will define the frontend-display as well as the backend (editor) di

[2018-03-17 21:56] ZacharyElkins commented on #602
Hello.

Gulp does not pull in any file, it pulls in specific files and outputs them where you have placed your custom file.

Please refer to my comment here for instruction:
https://github.com/understrap/understrap/issues/548

Issue #548

[2018-03-17 22:02] Thomas-A-Reinert commented on #596
@holger1411 https://github.com/understrap/understrap/blob/master/ISSUE_TEMPLATE.md needs rework too. URGENTLY! As I said, it´s more or less a copy of my own repos´ ISSUE_TEMPLATE. And it may be really confusing actually atm.

[2018-03-17 22:18] Thomas-A-Reinert commented on #548
Thanks for your contributions, @ZacharyElkins and @jsgaonac . As requests upon this feature are adding up recently, I just pushed a commit that´s based on your proposal, @ZacharyElkins .

Please investigate if it works like intended. It does so on my dev-environtment, though.

See #593 and #602 as duplicates.

Closing this issue as it should be finally resolved now. Feel free to re-open if the pro

[2018-03-17 22:18] #548 closed

[2018-03-17 22:19] Thomas-A-Reinert commented on #593
Please see See #593 and #602 as duplicates.
Still doesn´t solve the Babel/ES5/ES6 request but at least a part of it ;)

[2018-03-17 22:22] Thomas-A-Reinert commented on #602
Please see #593 and #602 as duplicates of this issue.

Sidenote: Why does it not just include any *.js by default? Because the order in which they may be included may become an issue. So just keep the needed order in custom-javascript.js and you should be good to go ;)

Closing this issue as it should be finally resolved now. Feel free to re-open if the problem persists, okay?

[2018-03-17 22:22] #602 closed

[2018-03-17 22:29] mherda commented on #602
Thanks but I'm still at loss.

[code]
The content of custom.js is just: alert("hello");

The file custom.js is in src/js/ just alongside skip-link-focus-fix.js

Yet, it does not seem to work. I've opened Chrome's developer's tools but there's no error message.
Gulp Watch just outputs: Starting 'scripts' .... Finished 'scripts' each time I save a file. So no errors there.
Please advise. Thank you.

[2018-03-17 22:29] Thomas-A-Reinert commented on #492
Hi @dylannirvana  - afaik Bootstrap 4 does not include any smooth scrolling. So you´d have to add that as an own dependency.

Feel free to do so by throwing in the .js library into your src/js folder and adding it into the gulpfile.js between the lines
` // End - All BS4 stuff
 paths.dev + '/js/skip-link-focus-fix.js',

 // Adding currently empty javascript file to add on for your own themes´ cust

[2018-03-17 22:29] #492 closed

[2018-03-17 22:35] axlright commented on #602
@mherda `gulp watch` doesn't compile js scripts - it only watches for sass changes. You need to run `gulp scripts` each time you want to re-compile the scripts. Have you tried that?

[2018-03-17 22:38] Thomas-A-Reinert commented on #602
@axlright nope you don´t ;) just run "gulp watch-bs" and it will compile (nearly) everything.

I just added the `alert("hello");` to custom-javascript.js and it shows the following without any console errors or the likes.

![image](https://user-images.githubusercontent.com/5886977/37560620-4ec54db2-2a3c-11e8-9554-ec425c7c2fee.png)

[2018-03-17 22:51] Thomas-A-Reinert commented on #598
Hm. This is a - very interesting though! - edge-case, I guess. And as far as I know this doesn´t get handled by UnderStrap in any way (yet).

Would you be able to clarify what you intend to achieve please? I´m really willing to help but I need a use-case (and maybe already existing code) to reproduce, okay?

[2018-03-17 22:51] mherda commented on #602
Thanks guys - having run gulp watch-bs, it's working fine.

[2018-03-17 22:53] Thomas-A-Reinert commented on #602
Thanks for letting us know, @mherda ! Glad we could solve your issue!

[2018-03-17 22:53] axlright commented on #602
Oh, okay. I never run the `-bs` part because the Sass maps don't work. It's my understanding that `gulp watch` does not compile js - is that correct @Thomas-A-Reinert ?

[2018-03-17 22:54] Thomas-A-Reinert commented on #602
Cannot confirm @axlright - because I never really ran gulp watch ;)

[2018-03-17 22:58] Thomas-A-Reinert commented on #602
Sidenote: I really do not rely on .map files. I tend to inspect via dev-tools only.
But if that is really the case - they work when you run a `gulp watch` task and DON´t when you run a `gulp watch-bs` this is definitely an issue that has to be attended!

[2018-03-17 23:03] axlright commented on #602
Sidenote! I use sass maps a lot - so much that I put through a Pull Request to fix them with Understrap Child. Dev tools is great, but I need to know which line of which sass file generated which css.

I'll have a look into why there's a difference. I only ever use `gulp watch` because that's what runs my working maps functionality.

[2018-03-17 23:14] Thomas-A-Reinert commented on #602
Well, my SASS is usually very pretty well sorted (following the BEM rule) so that I get rarely confused.

@mherda: Sorry that you probably get "spammed" with comments right now. But please bear with us - we´re trying to improve ;)

@axlright you´re okay if I assign that task to you and @0dp - as you´re the gulp-heroes in our team? *friendlysmile* I´ll do anyway right now, but please keep me update

[2018-03-17 23:18] Thomas-A-Reinert commented on #594
Didn´t investigate too much yet. But so far everything seems fine to me! Good job, thanks, @holger1411 !

[2018-03-18 15:51] edmacfly commented on #598
Hi Thomas, thanks for replying to my question. I'm building a site for a sculptor using understrap and understrap-child. I'm using a jquery plugin called three-sixty slider (https://github.com/creativeaura/threesixty-slider) to create a series of gallery pages with three sixty views of her work. In order to launch the plugin, you need to tell it the name of the div that has to have the 360 image i

[2018-03-19 02:48] ryanfurtner commented on #594
@holger1411 Im having that same issue and its present in my folder. I am using http://scout-app.io and getting this https://i.imgur.com/VQ2B4DT.png

This is with a 100% fresh understrap download

[2018-03-20 00:21] Thomas-A-Reinert commented on #598
Hi Ed,

it seems that this plugin is no longer maintained - but that´s just a sidenote. I know of none better..

To make sure that I can follow your exact way on how you plan to integrate it, I´d probably need a dump of your dev-site (probably best done with the [Duplicator Plugin](https://wordpress.org/plugins/duplicator/))

So long i´ll just have to guess to find a solution/workaround.
* I guess

[2018-03-20 02:11] bruceconlon opened #604 "gulp minify is not defined"
when using `gulp scss-for-prod` in either understrap or understrap child, you get the error:

ReferenceError: minify is not defined

Should `.pipe( minify-css() )` be replaced with something like `.pipe(cssnano({discardComments: {removeAll: true}}))` or `.pipe( cleanCSS( { compatibility: '*' } ) )`?

[2018-03-20 04:04] axlright commented on #257
Closing this issue since it hasn't been active in over a year and since `npm install` has been functioning well for others. Please comment if this issue persists and can re-open the issue.

[2018-03-20 04:04] #257 closed

[2018-03-20 04:14] axlright commented on #335
Closing this issue because it hasn't been commented on in over a year. Also, I cannot reproduce the issue. When adding a test caption to an image in a post, I get:
`<figcaption class="wp-caption-text">Here’s a caption I’d like to list for this image. How does it appear on the front end?</figcaption></figure>`

 Please comment if this issue persists and I can re-open the issue.

[2018-03-20 04:14] #335 closed

[2018-03-20 04:28] axlright commented on #380
Closing this issue due to no comments in over six months, and due to Bootstrap 4.0.0 updating requirements as listed [here](https://getbootstrap.com/docs/4.0/getting-started/download/#source-files) to only require an Autoprefixer, which has been added to Understrap.

Comment if the issue persists and issue can be re-opened.

[2018-03-20 04:28] #380 closed

[2018-03-20 04:32] axlright commented on #315
Closing this very helpful issue as `gulp-autoprefixer` has been incorporated into Understrap. Thanks @robwakeman and @nviable

Can re-open if issues persist. Down the road we could improve the autoprefixer incorporation, as noted by `gulp-autoprefixer`'s documentation

For now, though, this issue seems fixed.

[2018-03-20 04:32] #315 closed

[2018-03-20 04:35] axlright commented on #280
Closing this issue as it hasn't been commented on in over six months and was most likely attributed to issues with Bootstrap alpha releases. Comment if the issue persists and it can be re-opened.

[2018-03-20 04:35] #280 closed

[2018-03-20 04:46] axlright commented on #334
For the sake of cleanliness and shorter markup, I would support removing these classes, relying on the id, and changing the closing div comment to support the change.

The risk is if others have written css / sass with these classes. But that risk gets bigger the more releases the classes are included in.

@holger1411 @Thomas-A-Reinert others?

[2018-03-20 04:55] axlright commented on #342
Closing this issue as it is related to Bootstrap itself and not UnderStrap. These Bootstrap variables can be used to control the color of the hamburger:

[code]

[2018-03-20 04:55] #342 closed

[2018-03-20 06:42] axlright commented on #268
Solution for this issue has been tested with `gulp watch` and `gulp watch-bs`

I was having trouble with `gulp watch-bs` on a local url running https:// - [source maps using local ssl certificates seems to have been an issue with BrowserSync](https://github.com/BrowserSync/browser-sync/issues/639).

I found a solution and regardless it's not an issue with UnderStrap's application. I'll make sure t

[2018-03-20 09:35] Vishal-Deshpande commented on #583
@Thomas-A-Reinert I think you lack the vision. People don't download Understrap just because it adds some col-xx bootstrap classes to underscores, but because it has much more to offer. By making lean and clean, you are killing understrap. Rather its time to add things that everyone has to eventually add to make underscores worth something.

[2018-03-20 09:45] edmacfly commented on #598
Hi Thomas, thank you so much for getting actively involved with my challenge. I will finish off the development site in order to get the 360 functionality working and will then send you a copy for investigation. I think you are right in that this is a bit of edge-case issue, I guess it would maybe be an appropriate situation for turning the jQuery plugin into a Wordpress plugin? Either way, I'll p

[2018-03-20 13:46] roman-soerensen commented on #550
I agree totally! That would be better, than overwriting the functions by using the priority arg.
Please check and change all files in the 'inc' folder.

Cheers, Roman

[2018-03-20 15:08] holger1411 commented on #600
Hm, Its a good question...

I add the full themes css file as editor style some time ago. The reason was that you can build up complex Bootstrap based layouts in your editor with all the .cols .row etc. and you can see and review it right in your editor.
Especially if it is used with the blank.php or empty.php template you can build complete landingpages and complex structurs without leaving the b

[2018-03-20 16:19] loorlab opened #605 "WooCommerce templates out of date with WC3.3.0"
Hi Friends , our actual WooCommerce Status : "Your theme has a woocommerce.php file, you will not be able to override the woocommerce/archive-product.php custom template since woocommerce.php has priority over archive-product.php. This is intended to prevent display issues."

Bug Report

 - WordPress Version: 4.9.4
 - UnderStrapVersion: 0.8.1
- WooCommerce  3.3.3

Report 👍

understrap/woocommerce/

[2018-03-20 16:26] axlright commented on #600
I figured that `custom-editor-style.css` was for the TinyMCE editor but never gave it much attention. I've noticed there's no decent `<blockquote>` support (at least on my installs) and it would be nice for my clients to see some version of what they are laying out in the TinyMCE editor.

I'd be interested in working on this a bit, though I agree with @holger1411 that with Gutenberg around the cor

[2018-03-20 17:53] holger1411 commented on #605
Thx @loorlab !
I changed it here:
https://github.com/understrap/understrap/commit/a0c6bc127eb5aa8760d93f32f6dd1bc07541e23f
Will be shipped with the upcoming 0.8.2 version.

Alternatively you can download the actual version here from GitHub and replace the /woocommerce folder with it.

[2018-03-20 17:53] #605 closed

[2018-03-20 17:59] loorlab commented on #494
@typeplus Hi Jason , We have that same error, what data do you need because it is still presented in the child theme.

Similar Problems for others : https://github.com/understrap/understrap/issues/517

Thanks !

[2018-03-20 18:00] loorlab commented on #605
@holger1411 Thanks my friend !

[2018-03-20 18:03] holger1411 commented on #334
@axlright: I´am with you. I implemented the classes long time ago...as a "just-in-case" container.
Feel free to remove it and open a pull request for it.
Let me know if you have no time for it. Than I will have a look at it.

[2018-03-20 18:21] holger1411 commented on #583
@Vishal-Deshpande
The problem is: No one has time to develop and maintain features which are used just by a minority of theme developers.

And: As more you add as more bugs and problems will pop up.
There are hunderets of cool features we might add. But it will "kill understrap".
It means we have 100´s of not maintained, not ready-made features and a lot of bugs we have to deal with.

So we decide

[2018-03-20 18:26] holger1411 commented on #103
closing this because we are working on 0.82.
Feel free to open issues for the single topics.

[2018-03-20 18:26] #103 closed

[2018-03-20 18:32] holger1411 commented on #328
Close this.
Basically it might be a good idea in some cases.
But than we have to maintain a complete copy of the WooCommerce frontend.
That will cost a lot of resources we can´t spend for core features.

[2018-03-20 18:32] #328 closed

[2018-03-20 23:24] loorlab opened #606 "WooCommerce with Understrap / Parent-Child"
Hi Friends, we are trying to modify WooCommerce templates from the child theme but we are not sure if it is a problem of the template child or parent .

Environment :
 - WordPress Version: 4.9.4
 - Understrap Version: 0.8.1
-  UnderStrap Child Version: 0.5.0
-  WooCommerce 3.3.3
---

bug report

It is affecting the HTML code of the archive-product.php template of WooCommerce.

The front-end design

[2018-03-21 04:18] axlright commented on #268
I've just added a pull request #607 with a solution that you all helped push forward. Anyone is welcome to test and we'll get it into the next release.

Thanks again @Glenn-Domin and @ezrx

[2018-03-21 04:27] axlright commented on #334
Added pull request #608 to resolve this issue.

[2018-03-21 09:21] holger1411 commented on #606
Thx for your complete bug report.
I wasn´t aware of this till now.
Will have a look at the best practice here...

[2018-03-21 09:25] roman-soerensen commented on #600
@webbyhall : I just added

`body#tinymce {
  padding-left  : 15px !important;
  padding-right : 15px !important;
}`

as a workaround to my custom css

[2018-03-21 10:15] holger1411 commented on #606
Okay, seems the best practice is to not use woocommerce.php but instead use a hook to inject WooCommerce functionality into the theme as described here:
https://docs.woocommerce.com/document/third-party-custom-theme-compatibility/
(Check section "using hooks")
Using this solution gives you the ability to overwrite the parent themes woocommerce templates by your child theme.

I was able to remove w

[2018-03-21 10:48] holger1411 commented on #600
So the solution would be "all-in" or nothing...

Okay, I add a custom-editor-style.scss file into the /sass folder.
It will generate a custom-editor-style.css file in the /css folder which will be used in your editor integrated via inc/editor.php
My commit: https://github.com/understrap/understrap/commit/0640bf70946c35766978c1db1b9732853c78f6eb

The sass file is empty by default. But you can impor

[2018-03-21 11:16] holger1411 commented on #268
Looks good here. Merged it and will be shipped with 0.8.2
Let me know if there is feedback/bug reports and feel free to re-open this

[2018-03-21 11:16] #268 closed

[2018-03-21 11:19] holger1411 commented on #334
Merged @axlright commit. Thx!

[2018-03-21 11:19] #334 closed

[2018-03-21 11:22] 0dp commented on #600
Since everything is being included in custom-editor-style.css, I can track the missing margin back to line 15 in custom-editor-style.css. (normalize) Removing that fixes the missing margin issue.

So what is the solution? Well according to the cookbook we should empty the content of custom-editor-styles.css and give the user the ability in the docs to include the theme.min.css in inc/editor.php.
T

[2018-03-21 11:25] holger1411 commented on #606
Oh, and I have to mention:
If we found a correct solution to check for the correct primary <div> inside the .container we don´t need a check for the container size.

The problem is just that we need to hook-in WooCommerce into the inner .col.
That can be .col-12, col-8, col-6 depending if one, two or no sidebar is active.

So the correct code should looks like:

[code]
while col-md-xy can be col-m

[2018-03-21 11:27] holger1411 commented on #600
@0dp  See my comment above and my commit https://github.com/understrap/understrap/commit/0640bf70946c35766978c1db1b9732853c78f6eb
;-)

[2018-03-21 11:32] holger1411 commented on #600
So you have an easy way to add everything you need (including parts from Bootstrap, variables, your own variables etc.) by editing sass/custom-editor-styles.scss, but by default for "out-of-the-box" UnderStrap users, nothing will happens.

Maybe we can just add the font-family from its variable.
So we have a sample of how you could edit the apperance of your editor in a safe way.

[2018-03-21 11:59] 0dp commented on #600
I think I took to long to write my comment @holger1411 :)

I've just tested your commit, looks good

[2018-03-21 12:58] 0dp commented on #604
I can confirm this.
[code]

This seems to fix the issue, please test

[2018-03-21 15:38] loorlab commented on #606
@holger1411 Thanks for your support , using the hooks it can become complicated to adapt it with certain customized things on the understrap, We appreciate if someone can give us a guide to the best flow of customization in WooCoommerce .

We look at the integration of a template in WooCommerce (woochi template) and find the following:

1) The parent theme does not have the **woocommerce.php** fil

[2018-03-21 15:56] 0dp commented on #591
@nizz0x, could you maybe test with the node version you get with the windows installer found here: https://nodejs.org/en/download/

[2018-03-21 18:39] holger1411 commented on #604
@0dp : Thx!
Works here, too.
Commited here: https://github.com/understrap/understrap/commit/b47d327882e26300687475d62a9896a1008ac43a

[2018-03-21 18:39] #604 closed

[2018-03-21 19:56] loorlab commented on #606
Update 2 : @holger1411

1.Check if "container" or "container-fluid" is set and echo the right warapper start.

Yes , Works Ok

![screenshot-2018-3-21 products panther cdb staging](https://user-images.githubusercontent.com/3799679/37733826-578e81ec-2d17-11e8-89d0-1490fc25d31c.png)

2.Check if left, right, both or none sidebar is active and adjust the markup

No Working

[2018-03-21 19:59] 0dp commented on #331
@robwakeman are you developing on a local system or remote/hosted system?
What OS/platform are you working on?
what is the output of `<?php phpinfo(); ?>`?
is node, npm, gulp up to date?

[2018-03-21 22:57] Thomas-A-Reinert commented on #583
@Vishal-Deshpande  - it seems that you feel personally attacked and tend to get personal therefore. Not my intention. Please lets get back to a more constructive way to handle things, okay?
Anyway, it seems - according to @holger1411 follow-up post - i could foresee UnderStraps future pretty well. And i´d love you to have me enlighten about what "_more it has to offer_" besides just  being another

[2018-03-22 00:08] typeplus commented on #606
My apologies @loorlab I havent had a chance to look at a solution to the integration with hooks. I have done it in the past for a couple of client projects so when I get some time I can post what I did.

[2018-03-22 00:10] lordcameltoe opened #610 "Pagination for get_terms"
Please delete anything that does not apply for you!

## I'm submitting a ...
  - [ ] bug report
  - [X ] feature request
  - [ ] suggestion

## Please tell us about your environment:

  - WordPress Version: 4.9.x
  - Browser: [ all  ]
  - Language: [ all ]

---

I've created a page that displays all the tags used on the site using the get_terms function.  I would like to add pagination to this pag

[2018-03-22 08:36] 0dp commented on #583
+1 for 🍞

[2018-03-22 21:00] loorlab commented on #606
@holger1411 @ZacharyElkins  The change works well with a child theme ( Initial Test) 👍

but...

For our design we need to activate the container wrapper and include this code in functions.php within the child theme :
[code]
When we activated the sidebars they were not display .

Are we doing something wrong?

Thanks Guys !

[2018-03-22 21:35] ZacharyElkins commented on #606
@loorlab  That code needs to go in the parent theme in **inc/woocommerce.php**

Also, you referenced the draft code, not the final code which I posted above. The new code adds the sidebar checks.

Am I misinterpreting what you've said? Again, I don't work with child themes often, but it does use the functions in the parent theme, which is where the code should be added.

[2018-03-22 22:52] ricksternyc opened #611 "Installing jQuery the correct way."
Hello, first time using the theme.

Can't seem to get a Bootstrap 4 Carousel to work, I'm going to assume it's because jQuery isn't working or loading after Bootstrap.

`npm install`
**_"npm WARN bootstrap@4.0.0 requires a peer of jquery@1.9.1 - 3 but none is installed. You must install peer dependencies yourself."_**

I've tried adding using the method described here. Along with a custom.js file,

[2018-03-22 22:59] mundeee commented on #606
I had some similar problems with a current site I'm working on and noticed that my archive-product.php started to misbehave on local and online version. (understrap + child; woocommerce 3.3.3/3.3.4)

not the biggest fan of all the woocommerce hooks I was still counting on the child-theme woocommerce.php override. noticed that archive-product.php was never kicking in, found the following to do the

[2018-03-23 03:32] typeplus commented on #606
@ZacharyElkins great work! That was a prettier version of what I did so thankyou for this. I will be using that from now on :)

[2018-03-23 08:14] holger1411 commented on #611
WordPress itself loads a copy of jQuery (v 1.12.4) which works perfectly with Bootstrap 4 (after some issues at the beginning...). So we don´t include another version as dependency.
Another reason for that: The wordpress.org theme review team did not accept themes with custom jQuery versions.

As you can see the carousel working on our demo site here:
https://understrap.com/understrap/

and the ac

[2018-03-23 08:16] holger1411 commented on #534
closing this becasue it seems it is casue by customizations

[2018-03-23 08:16] #534 closed

[2018-03-23 08:30] holger1411 commented on #525
@raisonon Closing this because it seems to be answered. @ZacharyElkins answere is the easierst and cleanest way to go and @axlright answere is quite cool, too, for a fixed footer approach.

Feel free to reopen if there are open questions left.

Oh, and by the way: Cool to see that you use UnderStrap for https://www.mindtheproduct.com/ ... I attended a mtp meetup here in germany a while ago ;-)

[2018-03-23 08:30] #525 closed

[2018-03-23 08:31] holger1411 commented on #517
Closing this because: Should be fixed with https://github.com/understrap/understrap/commit/a2fa9e56ba0326ed36297d699ca06ada26110107
Will be shipped with 0.8.2

[2018-03-23 08:31] #517 closed

[2018-03-23 08:34] holger1411 commented on #509
Closing this becaue of @axlright  answere:
Maintaining the CSS with the WordPress customizer to overwrite the stuff coming out of the sass files will make you crazy.
Use the customizer just for smaller, temporaily changes.

[2018-03-23 08:34] #509 closed

[2018-03-23 08:35] holger1411 commented on #494
Should be solved with https://github.com/understrap/understrap/commit/a2fa9e56ba0326ed36297d699ca06ada26110107

Will be shipped with 0.8.2

[2018-03-23 08:35] #494 closed

[2018-03-23 08:37] holger1411 commented on #489
Hi!
We changed that here:
https://github.com/understrap/understrap/commit/a2fa9e56ba0326ed36297d699ca06ada26110107

will be shipped with 0.8.2 soon

Feel free to check it out and give feedback

[2018-03-23 08:37] #489 closed

[2018-03-23 08:38] holger1411 commented on #456
Closing this because:
We changed that here:https://github.com/understrap/understrap/commit/a2fa9e56ba0326ed36297d699ca06ada26110107

will be shipped with 0.8.2 soon

[2018-03-23 08:38] #456 closed

[2018-03-23 08:38] #435 closed

[2018-03-23 08:41] holger1411 commented on #434
Yes, if you use a fixed navbar you have to add some padding-top to your body.

Check this Bootstrap 4 official sample:
http://getbootstrap.com/docs/4.0/examples/navbar-fixed/
They add `padding-top:4.5rem;`

[2018-03-23 08:41] #434 closed

[2018-03-23 08:43] #338 closed

[2018-03-23 08:44] holger1411 commented on #343
Closing this because: Seems to be fixed.
If not feel free to reopen!

[2018-03-23 08:44] #343 closed

[2018-03-23 08:44] holger1411 commented on #363
Closing this because: Seems to be fixed.
If not feel free to reopen!

[2018-03-23 08:44] #363 closed

[2018-03-23 08:45] holger1411 commented on #373
Closing this because: Will be fixed in 0.8.2.
We replaced WooCommerce.php and hook the woo wrapper into the markup via inc/woocommerce.php

[2018-03-23 08:45] #373 closed

[2018-03-23 08:45] holger1411 commented on #540
Closing this because: Seems to be fixed.
If not feel free to reopen!

[2018-03-23 08:45] #540 closed

[2018-03-23 08:47] holger1411 commented on #390
Closing this because: Seems to be fixed.
If not feel free to reopen!

[2018-03-23 08:47] #390 closed

[2018-03-23 08:56] holger1411 commented on #606
@loorlab The left sidebar works on the demo site perfectly:
![screenshot-understrap com-2018-03-23-09-54-11](https://user-images.githubusercontent.com/1568158/37820242-4fd01636-2e80-11e8-8101-0ce060709e0f.png)

Do you activate the right sidebar via Theme customizer or do you just publish a widget on this position?

[2018-03-23 12:19] nizz0k commented on #591
Hi, sorry to the delay in responding. I think the issue is some sort of permissions/config issue on the Linux Subsystem for Windows. I don't seem to have any node issues in the actual Windows file system. I'll experiment with setting up and xammp based localhost and see if this solves the problem.

[2018-03-23 14:35] ricksternyc commented on #611
Thanks for the assistance. Got it working!

Seems I overcomplicated things by creating my own blank template with just get_header() and then assuming it was because jQuery wasn't running out of sequence. Seems it requires your theme's container. I'm aware jQuery is baked into WP, but threw me for a loop when slider wasn't responding. Now using theme as intended, using starter template files.  Look

[2018-03-23 14:36] #611 closed

[2018-03-23 17:31] ZacharyElkins commented on #606
@typeplus  Thanks! Happy to help.

@loorlab Do you have widgets in your left sidebar? Understrap defaults to no widgets in the left sidebar. See this:

![screenshot-2018-3-23 widgets understrap test environment wordpress](https://user-images.githubusercontent.com/25933268/37843436-81061af2-2e8a-11e8-9f08-616d354cc52b.png)

Widgets must be put in the left sidebar for it to work.

I can confirm this

[2018-03-23 19:10] bashfulbirdie opened #612 "gulp copy-assets failed"
Got this after attempting to run npm install on a clean understrap theme.

SyntaxError: Block-scoped declarations (let, const, function, class) not yet supported outside strict mode
    at exports.runInThisContext (vm.js:53:16)
    at Module._compile (module.js:373:25)
    at Object.Module._extensions..js (module.js:416:10)
    at Module.load (module.js:343:32)
    at Function.Module._load (module

[2018-03-24 10:17] 0dp commented on #612
[code]
Could you try and update your node and npm and report back?

[2018-03-24 10:31] 0dp commented on #591
Hi @nizz0k, It would be interesting to see what you come up with. I can't test my self since I don't have a windows box.

Whats the output of `npm -v` ?

[2018-03-24 11:00] 0dp commented on #552
I'm looking into adapting `get_the_posts_pagination();`

[2018-03-24 13:25] 0dp commented on #552
I've created a branch in my fork (not sure how I can create a branch here)
https://github.com/0dp/understrap/tree/pagination
That implements what I believe is a more current pagination. Please note I still consider this a P.O.C.
There is definitely a few things that can be improved upon like custom arrows

[2018-03-24 13:39] 0dp commented on #610
To include the pagination into a custom page template use `<?php understrap_pagination(); ?>`

I'm working on a pagination that uses `paginate_links()` and incorporate BS4 styling maybe you can test it and modify it for your use case : https://github.com/0dp/understrap/blob/pagination/inc/pagination.php

What do you mean by used with get_terms?

[2018-03-24 19:33] 0dp commented on #610
To answer the last part, this can work with pagination but you won't get numbered pages because max_num_pages return 0
Likewise, you'll have to remove the max_num_pages check in the current pagination.

[code]
Correct me if I am wrong, but the short answer would be no. It's not possible with the standard WordPress pagination

[2018-03-24 20:01] philosophernazrul commented on #520
Warning: call_user_func_array() expects parameter 1 to be a valid callback, function 'amusic' not found or invalid function name in C:\xampp\htdocs\wordpress\wp-includes\class-wp-hook.php on line 286
﻿ how can i solve this warnig

[2018-03-24 20:54] 0dp commented on #520
Show us how and where you include amusic

[2018-03-24 21:07] lordcameltoe commented on #610
Here is my current code
[code]

[2018-03-24 21:13] lordcameltoe commented on #610
The following code DOES work, however, I can't style it with BS4 classes due to the fact that the paginate_links functions doesn't have a an option to add CSS classes.

Code on my page:
[code]

Functions.php:
[code]

[2018-03-24 21:20] lpq66 opened #613 "Gulp-uglify can't handle es6"
If you try to use arrow function, gulp throws an error, as gulp-uglify does not support es6 syntax.

And I have a solution for it already.
Just install gulp-uglifyes
`npm i gulp-uglifyes`
And in `gulpfile.js` rename `var uglify = require('gulp-uglify');` to `var uglify = require('gulp-uglifyes');`

Now es6 syntax will work.

[2018-03-24 22:14] 0dp commented on #610
try this,

[code]

[2018-03-24 22:41] 0dp commented on #568
@holger1411 @Thomas-A-Reinert please close

[2018-03-24 23:56] #568 closed

[2018-03-25 16:18] loorlab commented on #606
@holger1411 @ZacharyElkins Oh Yeah Sorry, We activated them via Theme Customizer and it was necessary to add widgets to the left sidebar.

Everything works perfect.

👍 💯 🥇

[2018-03-25 22:15] 0dp commented on #596
@Thomas-A-Reinert, you've included what I would expect of the template, but maybe it could be rephrased a bit, maybe like https://github.com/WordPress/gutenberg/blob/master/.github/ISSUE_TEMPLATE.md

the only things I might see added is `[ ] need help` or `[ ] question` to the top section.
OS and node version, maybe even `[ ] I'm using Windows Subsystem for Linux`

[2018-03-25 22:27] 0dp commented on #531
@shansmith01 v.0.8.1 is available now.

@holger1411 npm license and changelog is not up to date on npm?

@holger1411 @Thomas-A-Reinert please close

[2018-03-25 22:51] amandablum opened #614 "Change mobile toggler breakpoint to medium breakpoint (48-61em)"
Pretty simple- having trouble doing this via css because of aria. Would like to enable the toggler on everything south of 62em.  Probably a very simple solution that I haven't arrived at. Help appreciated.  ##

[2018-03-26 00:59] Thomas-A-Reinert commented on #531
Thanks, @0dp !

[2018-03-26 00:59] #531 closed

[2018-03-26 01:20] Thomas-A-Reinert commented on #596
hey @0dp - thanks! Some things changed on ISSUE_TEMPLATE.md due to your requests/input. Do you think that suits better now? In case you´re still missing anything, please let me know!

[2018-03-26 01:29] Thomas-A-Reinert commented on #614
Hi Amanda,

please check the Bootstrap 4 Tutorial for that request: https://getbootstrap.com/docs/4.0/components/navbar/?#responsive-behaviors

If you need to override on of BS4´s built in breakpoints check for the classes in the scss-files and build up on these..

Hope it helps. As this issue is more related to Bootstrap or overriding Bootstrap in general than UnderStrap-Code/-Functionality, I´m

[2018-03-26 01:29] #614 closed

[2018-03-26 01:48] Thomas-A-Reinert commented on #613
Hi @lpq66 - that´s pretty cool, thanks for letting us now. Yes, the current setup was not meant to support ES6/TypeScript whatsoever. I´ll mark that one as a Todo for the gulpfile-guys ;)

Am I understanding correctly that this would also solve #593 ? Didn´t try it and already too tired to give it a go, so this is why I´m asking..

[2018-03-26 02:21] Coop920 opened #615 "Question: Smooth Scroll + Offset"
Hi All,

First off, great theme.  I love developing with this theme, but I have a question about the smooth scroll (anchor scrolling) feature.

Dev Site:  https://dev-garrison-brothers-distillery.pantheonsite.io/visit-hye

I've created a fixed footer that is intended to scroll to certain sections of the page when clicked.  However, the issue I'm dealing with is that I also have a fixed header and

[2018-03-26 06:47] 0dp commented on #596
Looking good 👌

[2018-03-26 06:50] 0dp commented on #613
I'll give it a spin tonight. I have a feeling might also have to take a look at linting and travis

[2018-03-26 08:00] nizz0k commented on #591
On the regular windows 10 filesystem it's NPM 5.5.1, the Ubuntu windows subsystem it's 5.6.0.

[2018-03-26 08:06] 0dp commented on #591
You don't get any errors when you check the version on sub system?

[2018-03-26 08:56] nizz0k commented on #591
So, no errors when running `npm -v` in either the Linux Subsystem or in the regular file system. Installation seems to proceed fine with warning about dependencies and installs 1162 packages on the windows. It appears to install correctly

[2018-03-26 09:42] holger1411 commented on #552
@0dp : I opened a pull request and will test it:
https://github.com/understrap/understrap/pull/616

[2018-03-26 09:57] holger1411 commented on #606
Glad to hear that @loorlab !
closing this becaus eit seems to be fixed.

[2018-03-26 09:57] #606 closed

[2018-03-26 11:17] CoaPsyFactor commented on #449
I'm trying to setup bootstrap in electron, and I'm facing this problem.

jQuery is loaded before bootstrap.js

[2018-03-26 11:50] holger1411 commented on #449
But jQuery must be loaded before bootstrap.js:
http://getbootstrap.com/docs/4.0/getting-started/introduction/#js

[2018-03-26 12:03] 0dp commented on #591
Ok, what happens if you run bash as administrator (is that possible)

[2018-03-26 12:16] nizz0k commented on #591
Running Ubuntu as admin still produced EACCESS errors. Same with trying to run npm with sudo

[2018-03-26 15:47] MaximOrlovsky commented on #536
Vote for this feature

[2018-03-26 16:41] ZacharyElkins commented on #606
@holger1411 Did you review the code I submitted for left-sidebar-check.php ? Hoping you didn’t miss it, a few comments up.

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-03-26 16:44] holger1411 commented on #606
@ZacharyElkins No fear!  It was added here:
https://github.com/understrap/understrap/commit/a2fa9e56ba0326ed36297d699ca06ada26110107
Seems I did not metioned your...

[2018-03-26 19:40] ZacharyElkins commented on #606
@holger1411  Oh, didn't check! Just wanted to make sure it was seen. Thanks!

[2018-03-26 20:40] 0dp commented on #591
have you checked your PATH

[2018-03-26 21:28] 0dp commented on #613
Hi @lpq66 gulp-uglifyes, as the name implies. uglyfies and compress ES6+ syntax but on it's own it does not compile the code.

ie.

[code]
should compile to
[code]

So without gulp-babel for instance it won't have the desired effect.

Including a new set of tools to support ES6 needs to be discussed further.

[2018-03-27 09:32] pcarter13 opened #617 "Creating a full page landing slider using the built in Widget"
Hi guys

Been using Understrap for a while now after a friend recommended it to me. I have been a dedicated fan ever since and use it for pretty much all my projects. I want to take this opportunity to thank you all for everyones dedicated help in pushing this forward.

I have previously been using Slick slider to make a full page slider, however I feel like this should be able to be able to be ac

[2018-03-27 18:06] robwakeman commented on #331
@0dp Thanks for the suggested checks. I'm developing on a local system with MAMP.

OS/Platform
OS X El Capitan 10.11.6 (15G19009)

Initial output of `<?php phpinfo(); ?>`  :

PHP Version 5.6.10
System	Darwin Robs-MacBook-Pro.local 15.6.0 Darwin Kernel Version 15.6.0: Tue Jan 9 20:12:05 PST 2018; root:xnu-3248.73.5~1/RELEASE_X86_64 x86_64

**Node** was on
v7.6.0
I updated
v9.8.0

**npm** was on
v4.

[2018-03-27 19:10] 0dp commented on #331
Actually with the phpinfo I wanted to see the php modules loaded, but you can output that with phpinfo(INFO_MODULES);

[2018-03-27 19:55] robwakeman commented on #331
Ok, sorry. Here's the [output](http://www.robwakemandev.com/test/phpinfo/phpinfo.php) of phpinfo(INFO_MODULES);

[2018-03-27 20:02] robwakeman commented on #331
Ok, here's the [output](http://www.robwakemandev.com/test/phpinfo/phpinfo.html) of phpinfo(INFO_MODULES) on my local machine.

[2018-03-27 21:44] 0dp commented on #331
It didn't give me any clues but I will keep investigating. (feel free to remove the files. You don't want that one laying around).

Have you tried to make a clean install of WordPress, no plugins, fresh version of UnderStrap, `npm install`, `gulp watch-bs` to verify it's not an isolated incident?

On a different note, you should probably look into updating your php version :)

[2018-03-28 08:18] robwakeman commented on #331
Ok thanks anyway. Output file removed.

I've just tried it with PHP v7.0.0 (I did have that installed, but haven't tended to use it, because it hasn't played well with some older plugins on other sites). The issue remains the same.

Did you see my July 18 2017 comment above about adding the extra array element to `browserSyncWatchFiles`? Could that be causing the problem? Have I written that corre

[2018-03-28 09:54] 0dp commented on #331
I was going to ask you if you've tried without the modifications?

We've added a custom-javascript file in src that will get minified and included so you don't need that line anymore. Secondly, it's better to follow the intended declaration so that  ` 'js/child-theme-custom.js',` becomes `paths.dev + '/js/child-theme-custom.js'`

[2018-03-28 10:38] holger1411 commented on #71
@neerbappoo : Sorry for my late reply.
But can´t find any contribution here: https://github.com/understrap/understrap/graphs/contributors
?

[2018-03-28 10:49] holger1411 commented on #617
I just use the default Jumbotron markup in a default custom HTML widget.
I just add this:
[code]
For the first slide (as example)
So normally there is no need for an extra widget.

[2018-03-28 10:51] holger1411 commented on #617
You can add a background image easily with some CSS for via inline HTML styles like:

[code]

[2018-03-28 11:18] neerbappoo commented on #71
Hi,
I helped here: https://github.com/understrap/understrap/issues/297

<https://www.avast.com/sig-email?utm_medium=email&utm_source=link&utm_campaign=sig-email&utm_content=webmail>
Virus-free.
www.avast.com
<https://www.avast.com/sig-email?utm_medium=email&utm_source=link&utm_campaign=sig-email&utm_content=webmail>
<#DAB4FAD8-2DD7-40BB-A1B8-4E2AA1F9FDF2>

On Wed, Mar 28, 2018 at 2:38 PM, Holger <

[2018-03-28 11:59] 0dp commented on #612
@bashfulbirdie you there?

[2018-03-28 14:00] Coop920 commented on #615
Any thoughts?

[2018-03-28 14:44] mernoid opened #618 "2 Previous and Next buttons on pagination"
Please delete anything that does not apply for you!

## Issue is about..
  - [x] I need help

## Please tell us about your environment:

  - WordPress Version: 4.9.x
  - OS Version: [Windows 7 ]
  - Browser: [ Chrome XX  ]
  - Language: [ all | PHP | SQL | HTML | S/CSS | Javascript | jQuery | ES6 | JSON | XML]
---

My post pagination shows two next and previous buttons. See the screenshot:
![image

[2018-03-28 15:18] dandyxu commented on #124
@davigarcas Saved my day! Thank you.

[2018-03-28 15:59] Schmidt-Aaron commented on #615
Hi Josh,

I am not 100% sure what you are asking about. The feature seems to be
working on your demo site. However, this video
<https://www.youtube.com/watch?v=5FLOBCGH3_U> about making a fixed header
might be of help as it shows you how to create an offset programmatically.

Cheers!

On Wed, Mar 28, 2018 at 7:00 AM, Josh Cooper <notifications@github.com>
wrote:

--
Aaron
Cell: (206) 713-5694

[2018-03-28 16:02] Coop920 commented on #615
@Schmidt-Aaron well, I just changed the way I was doing it on my site.  Rather than using an <a> with an href, tag I used a <span> with an ID.  That way I could roll my own JavaScript to do the smooth scroll.  But I still am curious about putting in an offset if using an <a> tag.

Thanks

[2018-03-28 16:11] Schmidt-Aaron commented on #615
@Coop920 Gotcha, I am not sure how I would do it with using an anchor tag without hardcoding something - which would likely end up being pretty fragile. Personally, I would keep the ID approach as that seems more elegant and less likely to break.

[2018-03-28 16:12] ZacharyElkins commented on #562
This all should be resolved.
https://github.com/understrap/understrap/commit/5eae85e137614ccdfb93fc82eaebc1874fdf66bc

And there is a reason for using the understrap as the text domain, @holger1411 can explain better.

[2018-03-28 19:18] altemberg opened #621 "Where's the custom logo?"
I'm still a bit new to wordpress and I do not understand many things yet.

But in the customizer it displays the custom logo option, but I have not found where this option is. I looked at the functions.php, customizer.php and nothing. I even removed all the functions.php codes but still the option is still there.

I would like to know where the code is to be able to remove it, since I am using Kir

[2018-03-28 20:23] jack-fdrv opened #622 "Excess div on page.php, single.php v0.81"
Hello, here is the default page template where we see extra closed div tag for primary.
https://src.fdrv.guru/180328231859.jpg

Or I miss something?

[2018-03-28 20:31] sommerset commented on #621
check line 42 and followings of header.php

[2018-03-28 20:36] altemberg commented on #621
@sommerset I got to see this code and removed it, but the logo section is still there.

[2018-03-28 20:47] Thomas-A-Reinert commented on #621
Sure, this is just the thingie that renders the logo on the frontpage, if available.

See ./inc/setup.php, line 87/88
[code]

Remove those lines and you should be set.

See https://codex.wordpress.org/Theme_Logo as reference.

I´ll close this topic as it should be resolved. Feel free to reopen if the problem persists.

[2018-03-28 20:47] #621 closed

[2018-03-28 20:50] Thomas-A-Reinert commented on #622
I guess this is a dupe of #513 , right? You can find the answer there. I´m totally with you that this is not very elegant and should be solved differently. But *hey* that´s currently not on top of the priority-list ;)

[2018-03-28 20:55] altemberg commented on #621
I also removed this code, but it did not work. I left the functions.php blank but the section is still there.

So I had this doubt, I removed several codes but nothing solved.

I have the latest version of Understrap and also Wordpress.

[2018-03-28 21:01] Thomas-A-Reinert commented on #618
I´m sorry, i can´t reproduce that problem. See
![image](https://user-images.githubusercontent.com/5886977/38055761-ea139fe8-32da-11e8-8e4d-825842215cd3.png)

* Can you provide a link so I may inspect the resulting code?
* Did you change anything within the code, because this does not seem to be the default behavior?
* Are you using the latest UnderStrap version? (Try to setup a fresh install and u

[2018-03-28 21:05] Thomas-A-Reinert commented on #615
For me the whole thing seems to work like intended. And somehow I do not understand the question without a scenario and/or code to inspect. So i´m going to close this issue as it seems to be resolved. Feel free to reopen if this becomes a show-stopper, okay?

[2018-03-28 21:05] #615 closed

[2018-03-28 21:09] Coop920 commented on #615
@Thomas-A-Reinert Perhaps I should have explained that my site has a fixed header.  So when a section is scrolled to, visually it doesn't account for the padding/margin of the section that is scrolled to, which is behind the fixed header.  So I was hoping to have an offset value.  I understand the theme automatically senses for '#' in <a> tags, but wanted to know how to provide an offset value whe

[2018-03-28 22:06] axlright commented on #615
@Coop920 I always have to add a custom script for smooth scrolling if the site has a fixed header that has an offset for the height of the header.

This one is a bit janky because it has to account for incoming links from sub pages to an anchor on the home page. It uses some additional libraries, too, which I compile into the master js file:

[code]
I have some others that are less hacky for sites

[2018-03-29 02:40] mernoid commented on #618
Here's the link: yourfreecoin.com/theme
I did change a few templates but never touched the Pagination template. I changed the Previous and Next Post template below Single posts to remove font awesome icons, btw.

Yes, the latest version. I'll try that.

No, the parent theme.

Thanks, I'll give Visual Studio Code a try.

[2018-03-29 09:15] Thomas-A-Reinert commented on #618
Ah, now I understand. There are not two next/previous buttons. The inner buttons (which get displayed correctly) are in fact next/previous buttons. The outer ones jump to the first/last page ;)

Up to you to delete those and/or give them your own icons.

I´ll mark this issue as solved, feel free to reopen if the problem persists.

[2018-03-29 09:15] #618 closed

[2018-03-29 11:05] robwakeman commented on #331
I've just tried a separate clean install of WordPress and the latest versions of themes understrap and understrap-child

understrap
v0.8.1

understrap-child
v0.5.1

This included the latest commits on 26/03/18

The only things I did were:

- edit  the proxy in to reflect my localhost URL
themes/understrap-child/gulpconfig.json

- copy in a few PHP template files e.g:
themes/understrap-child/page-t

[2018-03-29 15:14] Coop920 commented on #615
@axlright How do you account for the scrollto that the parent theme is already supplying?  Essentially understrap appears to detect < a href="#" > on it's own, so it wont allow me to apply my own javascript to detect  < a href="#" >tags.

[2018-03-29 16:36] axlright commented on #615
@Coop920 That I know of, the theme isn't detecting any anchor links in any way beyond how normal HTML anchor links work (just jumping to them). There's no stock / default smooth scroll behavior that I know of. You wouldn't want to turn all anchor links into smooth scroll links because that would mess with other actions that rely on anchor links like tabs / pills navigation.

Understrap is a combin

[2018-03-29 17:07] ZacharyElkins commented on #621
Try deactivating and re-activating the theme.

[2018-03-29 17:26] ZacharyElkins commented on #622
The opening ‘#primary’ div is generated by the **global-templates/left-sidebar-check.php** template. It is the ‘col-x-x’ class which is necessary to remove the negative margin of ‘row’.

To me, the wrapper seems unnecessary, as you can target pages and sections by classes in the body tag. It does provide top and bottom margins, but that could be put on something else. The primary, although bulky,

[2018-03-29 17:31] Coop920 commented on #615
@axlright That is strange.  I didn't have to do anything in order to make the smooth scrolling work initially.  I'm pretty sure I saw a function for it inside of the understrap base theme.  Inside of theme.js there is a scrollspy function.  Pretty sure that's what detects the <a href="#" >

Thoughts?

[2018-03-29 17:52] axlright commented on #615
Scrollspy is not smooth scroll - scrollspy is a Bootstrap function that adds classes to menu items based on the viewport's position: http://getbootstrap.com/docs/4.0/components/scrollspy/

I'd recommend looking to Bootstrap's docs for more information.

[2018-03-29 18:09] jack-fdrv commented on #513
For my opinion, better to move this closed tag to this template.

![Image of code](https://src.fdrv.guru/180329210736.jpg)

[2018-03-29 18:12] holger1411 commented on #622
@jack-fdrv Hm, maybe you are right. I received several mails every month asking for the missing <div> (which is inside the left-sidebar-check.php).
So we have a balanced number of opening and closing tags within this file ;-)

[2018-03-29 18:14] holger1411 commented on #622
Argh, don´t want to be sarcastic...just seeing now that you inital issue was about a missing div...

[2018-03-29 18:47] altemberg commented on #621
@ZacharyElkins That was one of the first things I did.

[2018-03-29 22:16] altemberg commented on #621
I solved this problem! \o/

[2018-03-29 22:19] Thomas-A-Reinert commented on #621
Would you please be so kind to explain how? What was the problem and how did you solve it?
It may help others in the future (and yes us too helping others stumbling over the same problem so we may use it as a reference).

Thanks in advance and glad it could be solved!

[2018-03-29 22:26] altemberg commented on #621
So the problem was not in understrap. I did not know that Wordpress was adding some options by default. I started to move and found where WP added the customizer, which is in the file class-wp-customize-manager.php, I took the section of it and removed it.

When I was studying WordPress, the customize did not appear by default, so I was so confused.

Sorry for anything and thanks so much!

[2018-03-29 23:13] Thomas-A-Reinert opened #624 "NPM Install warnings / deprecated packages | Windows 10"
## Issue is about..
  - [x] a Bug Report

## Please tell us about your environment:

  - WordPress Version: latest, Dev-Environment
  - OS Version: [Windows 10]
  - Browser: [Browser-independant]
  - Language: [Javascript | Node]
  - Node.js & NPM Versions: Node.js [V 8.9.2] | NPM [V 5.7.1]

---

# Issue Overview for Bugreports
## Steps to reproduce?
* Get a clean install from "master"-branch.
* `

[2018-03-29 23:51] 0dp commented on #624
Sure thing @Thomas-A-Reinert please assign it to me so i don't forget 😜

[2018-03-29 23:56] Thomas-A-Reinert commented on #624
Thanks a lot, dude. Learning a lot from your gulp-adjustitions atm ;)

[2018-03-30 00:36] Thomas-A-Reinert commented on #621
Yeap, it´s a built-in option, just didn´t know that it´s not optional (like being set as an OPTION as quoted above) but included anyway as a default.

But yes, it is since Version 4.5, see https://codex.wordpress.org/Theme_Logo and will have it´s default values, sections etc.

What you´re actually doing may work - but it´s a NO-GO in case of updateability of WordPress etc. Whenever you update WP-C

[2018-03-30 00:47] Thomas-A-Reinert commented on #621
Personal question: You said you´re using Kirki. That takes a lot of headaches from you trying to "customize the customizer". Yes i know that sounds stupid, but customizing the customizer can become a real challenge. It´s okay to write a dozen or so customizer options on your own. And you won´t have the chance to style them as you wish, when you do not REALLY dig the topic.
But as soon as you´re ge

[2018-03-30 00:58] altemberg commented on #621
@Thomas-A-Reinert No, there are few options. Actually I'm using it for study purposes, I'm testing frameworks to know everything I can do with WordPress.

I've already done some things with no framework and now I'm making use of some to compare

[2018-03-30 01:25] 0dp commented on #624
We need to do is upgrade to gulp v. 4.0 it seems to remove the deprecation warnings, but in doing so we will have to update the gulp file and check all the tasks

[2018-03-30 03:26] altemberg commented on #621
@Thomas-A-Reinert Yes! Your solution solved, I reinstalled the understrap and resolved.

And I always prefer to do it by hand, but I also like to have other ways to go if something does not go as expected or needs to be done faster.

Thank you very much for all your help.

[2018-03-31 20:11] memims commented on #594
Had a problem with the understrap child theme after updating to this version - nothing past the nav bar rendered. Luckily found the fix here: https://wordpress.org/support/topic/updated-to-v-0-6-9-3-child-themes-not-working-as-expected/

Think it might be worth including a note in the release notes for the parent theme if there isn't going to be an update to the child theme any time soon.

[2018-03-31 20:34] Thomas-A-Reinert commented on #624
So would you please as soon as you find the time? Thanks in advance!

[2018-04-01 06:31] oyshiu opened #625 "Child theme isn't compiling variables"
## Issue is about..
  - [x] I need help

## Please tell us about your environment:

  - WordPress Version: 4.9.x
  - OS Version: MacOsX
  - Language: S/CSS

---

I have been trying for a long time to change the _child_theme_variables.scss but with no success. I copied most of Bootstrap4 variables and I'm now trying to change them but the changes never show in the child-theme.css
I have gulp watch

[2018-04-01 12:04] 0dp commented on #624
Yup, I'll look into it tonight and make a PR to review

[2018-04-01 18:49] mherda opened #626 "child theme and gulp"
Hi,

Please bear with me - things are still cloudy for me:)
I've started a child theme so the only files in the child theme folder are functions.php and styles.css

Which files/folders exactly would I need to copy to the child folder to be able to install packages ('npm install') and then edit js/scss and compile it (gulp watch-bs) in the child theme directory?

Thank you

[2018-04-01 22:33] mherda opened #627 "js require() does not work"
Hi,

I've installed 'strava' via npm and would like to get authenticated:

[code]
I get the following error in the console
ReferenceError: require is not defined

I have googled it and understand that require() is part of node and cannot be run in a browser. People recommend Browserify to get things like that running.
Is there any way to easily bundle it with the existing understrap setup to make

[2018-04-01 22:43] Thomas-A-Reinert commented on #626
Spare yourself the fuss and built up on https://github.com/understrap/understrap-child

[2018-04-01 22:43] #626 closed

[2018-04-02 00:43] Thomas-A-Reinert commented on #627
What is "strava"?! Why does it need a client id/client secret/redirect url/access token?

Could you please clarify, because my crystal ball is on vacation.. :/

[2018-04-02 00:48] Thomas-A-Reinert commented on #625
Please notice that this issue-tracker is only dealing with the parent-theme. If you have any issues with the child-theme please refer to [this repository](https://github.com/understrap/understrap-child).

Thanks! I´m also closing this issue.

[2018-04-02 00:48] #625 closed

[2018-04-02 00:51] Thomas-A-Reinert commented on #617
Guess that topic is solved due to no response and a clear answer on how to solve it. Closing it therefore.

Feel free to reopen if the problem remains.

[2018-04-02 00:51] #617 closed

[2018-04-02 00:52] Thomas-A-Reinert commented on #612
Closing abandoned issues. @bashfulbirdie - feel free to reopen if the problem persists.

[2018-04-02 00:52] #612 closed

[2018-04-02 00:55] Thomas-A-Reinert commented on #610
Considered edge case, possible solution supplied. Closing it due to no response.

Feel free to reopen or answer if you feel the need, @lordcameltoe

[2018-04-02 00:55] #610 closed

[2018-04-02 01:28] lordcameltoe commented on #610
Sorry for not answering, I got caught up with other work.

The code works perfectly. The only problem is I get this error :

Notice: Undefined variable: totalpages in C:\xampp\htdocs\test\wp-content\themes\understrap-child\functions.php on line 83

Notice: Undefined variable: paged in C:\xampp\htdocs\test\wp-content\themes\understrap-child\functions.php on line 83

[2018-04-02 01:35] lordcameltoe commented on #610
If I comment out the last line of functions.php, the error dissapears and the pagination still seems to work.

`//echo custom_page_navi( $totalpages, $paged, 3, 0 );`

[2018-04-02 01:39] Thomas-A-Reinert commented on #610
Please use the latest version available and report if the problem remains or if/which errors it throws..

Anyway, as we considered this an edge case, you´ll be probably on your own fulfulling your own recommendations. Feel free to ask again - but sorry, don´t expect any full-fledged solution anytime soon, okay?

[2018-04-02 01:50] lordcameltoe commented on #610
No problem. Thanks! :)

[2018-04-02 06:10] mherda commented on #627
Apologies.

Strava is a portal where runners/cyclists record their activities using a variety of electronic devices that record the data. So basically, it's like Facebook but for sports people with lots of numerical data that is displayed. Users can join clubs etc. I'd like to pull some statistics for our club.

The npm package is here:
https://www.npmjs.com/package/strava

Official Strava API doc

[2018-04-02 06:11] mherda commented on #627
Sorry, it needs the access token, I guess to authenticate user so because the data is not public. The access token is generated in my account settings so that's not the problem.

[2018-04-02 12:07] raisonon commented on #586
TL;DR: I agree with removing and if any integration is done wait a while for FA to get it's act together.

--
Long: I've just upgraded to v.5 on my local install. The whole process is really messy with FA at the moment.

It surprised me. NPM repo still on 4.7 so had to pull from https://www.npmjs.com/package/@fortawesome/fontawesome-free-webfonts

The FA docs are no good and took longer than expec

[2018-04-02 12:07] Thomas-A-Reinert commented on #627
Please understand that we cannot supply support for 3rd party services. I´d recommend contacting the npm package maintainer.

[2018-04-02 12:07] #627 closed

[2018-04-02 12:28] axlright commented on #624
Happy to help here but me no have no Windows. Otherwise, let me know if / how to help.

[2018-04-02 12:48] #345 closed

[2018-04-02 12:49] axlright commented on #375
Closing this issue because @shawnquinn looks to have helped and it hasn't been updated in over six months.

[2018-04-02 12:49] #375 closed

[2018-04-02 12:56] axlright commented on #398
Closing this issue because it has not been commented on in six months and because a solution has been implemented for adding custom scripts. @shansmith01 comment if you're still experiencing trouble.

[2018-04-02 12:56] #398 closed

[2018-04-02 17:30] 0dp commented on #624
I'm about to finish up a complete refactored gulp file with cleaned up tasks, optimized for gulp4.

Some steps are also required from the user, specifically removing gulp locally, and installing gulp-cli.

Thorough testing is needed though, cuz I have no idea what implications this might have on other projects still using gulp 3.9.

The gulp team is not holding up too good it seems.

Anyways, I wi

[2018-04-02 20:38] 0dp commented on #624
@axlright @Thomas-A-Reinert
It's with shivering hands and cold sweaty palms I present the update to gulp4. Including updated and optimized gulp tasks, and refactoring slimming down the code 100+ lines.

Please test and report back, with any questions, bugs, and errors you find.
https://github.com/0dp/understrap/tree/gulp4

In order to get things to work, you'll have to remove gulp locally
`npm rm

[2018-04-03 12:24] peterjrees opened #629 "Flexslider not Working"
Hi there,

I'm attempting to install Flexslider using the Understrap child theme. I've run `npm install flexslider` and added the Flexslider javascript in the `<head>`. I've also run `gulp copy-assets` and `gulp scripts` but it doesn't seem to work.

Being fairly new to NPM and Gulp I'm sure I've just missed something simple here.

Thanks in advance!
Peter

[2018-04-03 12:31] axlright commented on #629
Can you give more information on what doesn't work? Are you manually adding the Flexslider into the head by adding script tags or enqueuing it in the functions.php?

FWIW, there's a more streamlined way to add custom scripts to the main compiled child theme js file. But before getting to that it would be good to know more detailed information about what you're experiencing.

[2018-04-03 12:33] axlright commented on #629
Also @peterjrees It would be better for housekeeping if you removed this issue ticket add added one to the [child theme repo here](https://github.com/understrap/understrap-child/issues)

[2018-04-03 12:52] axlright commented on #594
@memims It looks like you're referring to the update to the functions.php that references an updated name for the navwalker function. True that a note in the release notes could help. Even if there were an update to the child theme that provided that same function name change, many people have customized their child theme functions.php and would not fully replace their child theme functions.php in

[2018-04-03 13:24] peterjrees commented on #629
No problem @axlright I've reposted in the child theme repo with some additional info.

[2018-04-03 19:41] 0dp commented on #586
@fortawesome will/is the new repo.
Docs are messy yes, but we deciphered it and came up with a step by step in another thread.

Coming up with steps to integrate other iconsets into understrap is very welcomed in the documentation :)

[2018-04-03 19:56] mherda commented on #627
Thanks Thomas.

so are you saying that normally in the current setup the function 'require()' is not a problem? It's just this particular npm package is the problem?

[2018-04-03 20:27] 0dp commented on #627
hey @mherda you cannot simply install a node package and expect it to work in an arbitrary context (UnderStrap)

UnderStrap is a WordPress theme that uses a node based task runner, and npm for installing and managing dependencies.

The "require" method is built into node, hence gulp. But require method is not a part of the theme nor a part of ECMA(current standard) or jQuery. So that's where your

[2018-04-03 21:27] 0dp commented on #536
I would really like to see some justifications and healthy debate from the community why such a switch is important, and what we will gain from such a switch. So here I go 😄

## YARN VS. NPM
[Insert marketing blurb here]
Competition is healthy and it promotes change and innovation. Hence YARN and NPM will keep pushing each other forward 👍.

_YARN is faster than NPM_, but NPM CI is faster than YARN

[2018-04-03 21:35] 0dp commented on #350
@dylannirvana @Retroclasica I've just tested `npm install understrap` and it installed UnderStrap correctly. does this problem still persist? If so, could you please fill this form out:

[code]

[2018-04-03 21:37] 0dp commented on #205
@holger1411 is this still relevant?

[2018-04-03 22:08] 0dp commented on #389
@holger1411 @Thomas-A-Reinert @axlright close?

[2018-04-03 22:12] Thomas-A-Reinert commented on #389
Cannot test anything atm, sorry for that. I´m currently heavily involved in four WP projects, so I just don´t find the time.

But if it´s not an issue anymore.. I´d generelly say close and leave a friendly message to please re-open if help ist still needed ;)

[2018-04-03 22:12] #389 closed

[2018-04-03 23:07] Thomas-A-Reinert commented on #389
Ah, sorry, didn´t know. But as I was already on it, I closed it.

**Offtopic:** Could you please explain to a silly german (who until just now thought he would understand english and english idioms pretty well) what "_making that cheddar_" means?  :)

[2018-04-04 08:28] 0dp commented on #389
Ohne Knete, keine Fete 😂

[2018-04-04 14:03] axlright commented on #550
Closing this issue as it was patched in PR #619

Comment if issues persist.

[2018-04-04 14:03] #550 closed

[2018-04-04 14:35] axlright commented on #376
Closing this issue as it is a duplicate of #550 and was patched in PR #619

[2018-04-04 14:35] #376 closed

[2018-04-04 14:37] axlright commented on #378
Closing as @holger1411 provided useful feedback.

[2018-04-04 14:37] #378 closed

[2018-04-04 15:08] axlright commented on #389
@Thomas-A-Reinert What do Americans talk about more than anything else? "Making that cheddar" means making money. Why cheese is equated with money? Because everything is equated with money.

[2018-04-05 13:52] Lippiun commented on #315
Hi,

I'm having the same problem! I've added the autoprefixer to the child themes gulpfile.js but nothing is happening when running `gulp watch-bs `.

Can anyone help please?

This is the gulpfile.js in my understrap child theme.
[code]

[2018-04-05 14:11] gintsmurans opened #631 "Css & Js browser caching"
## Issue is about..
  - [x ] a Feature Request

Hi! How about a proposal to add some kind of minified css and js file versioning. While developing a new theme I am getting tired of browser not always loading latest version, so as a quick fix I have modiefied enqueue.php like this:

    <?php
    /**
     * Understrap enqueue scripts
     *
     * @package understrap
     */

    if ( ! function_ex

[2018-04-05 14:53] axlright commented on #315
@Lippiun Can you please re-submit this issue to [the child theme's repo](https://github.com/understrap/understrap-child/issues)?

[2018-04-05 20:01] Thomas-A-Reinert commented on #596
Closing it cos most of it should be fixed now.

[2018-04-05 20:01] #596 closed

[2018-04-06 06:07] dbybanez opened #632 "Update both Parent theme and Child theme to use Bootstrap 4"
## Issue is about..
  - [ x ] a Question
  - [ x ] I need help

## Please tell us about your environment:

  - WordPress Version: 4.9.5
  - OS Version: Windows 10
  - Browser: All
  - Language: PHP, MySQL, HTML, S/CSS, JavaSript, jQuery
  - Node.js & NPM Versions: Node.js v8.1.3 | NPM 5.1.0

---

Hi,

I'm using UnderStrap v0.6.5 and the child theme v0.3.2. I wanted to update both the parent theme

[2018-04-06 08:46] FerhatBicakci commented on #38
Found this solution for macOS

Open your Terminal and type:
`grep -rli 'understrap' * | xargs -I@ sed -i '' 's/understrap/NEW_THEME_NAME/g' @`

[2018-04-06 13:41] axlright commented on #632
Hey @dbybanez in your case, since the change from child theme 0.3.2 to 0.5.1 is a big step, I'd recommend the following:

First update just the child theme. The parent theme contains all the php files but the styles and scripts for things like Bootstrap are all self contained in the child theme.

Copy the following files from the repo's child theme 0.5.1 into your child theme
gulpconfig.json
gulpf

[2018-04-06 17:42] holger1411 commented on #631
@gintsmurans Thx! Will try and test it.
There are several issues about this

[2018-04-07 12:01] IrtezaAsadRizvi commented on #525
make a min-height of the container and make it **flex**, make the direction **column** (I'm guessing you have a very few root components that'll appear vertically) and justify them with **space between**

example:
[code]

in the styles

[code]

[2018-04-07 13:29] holger1411 commented on #631
Add it here:
https://github.com/understrap/understrap/commit/4fb9fdd96dc34dc3d64356236b495e7da3de2a78
and it is live on our demo site:
https://understrap.com/understrap
If there are no problems/issues with your solution we will ship it with 0.8.2

Thx @gintsmurans

[2018-04-07 13:31] holger1411 commented on #632
And, if you use Bootstrap3 markup in your child theme .php files you have to adjust it.
Here is a migration doc:
https://getbootstrap.com/docs/4.0/migration/

[2018-04-07 13:32] holger1411 commented on #205
@0dp Can be closed ;-)

[2018-04-07 13:32] #205 closed

[2018-04-07 16:29] jack-fdrv opened #633 "Why I dont have gaps here?"
![Image of CssBug](https://src.fdrv.guru/180407192810.jpg)

[2018-04-07 16:31] holger1411 commented on #633
Is solved and will be shipped with 0.8.2
You can alreay download and use the version here from GitHub (hit the "clone and download" button here: https://github.com/understrap/understrap)

[2018-04-07 16:34] jack-fdrv commented on #633
My theme is up to date but it doesnt have gaps. Where I can see by which commit it solved? Or I can do this manually.

[2018-04-07 16:34] holger1411 commented on #633
0.8.2 isnt relased yet.
So:
"You can alreay download and use the version here from GitHub (hit the "clone and download" button here: https://github.com/understrap/understrap)"

[2018-04-07 16:36] holger1411 commented on #633
The Github version is the "bleeding edge" version.
Means the one which will be released soon

[2018-04-07 16:37] jack-fdrv commented on #633
Oh, thank you! Fixed! Thanks for let me know how to fast download it =)

[2018-04-07 16:40] Thomas-A-Reinert commented on #633
Please just acknowledge - as @holger1411 said - this is a "bleeding edge" version and may therefore not be totally tested and up to changes before release to the WP-repository. This will allow you to test (and please comment on bugs!) the latest version but it _may_ have bugs though.

No guarantees ;)

[2018-04-07 16:43] jack-fdrv commented on #633
Oh, that what means "bleeding edge"...

Hmmm. How I can find the way to help you with test and dont catch the bug on live server =)

[2018-04-07 16:48] Thomas-A-Reinert commented on #633
Personal side-note: NEVER EVER develop on a live-server! Use a development environment, develop there, test there and if everything seems good to go - use a staging environment (google that please). If everything also works well there - deploy on a live-server ;)

Bleeding edge/cutting edge means - latest version, possibly not completely free from bugs, but including all the latest features..

**H

[2018-04-07 16:50] jack-fdrv commented on #633
I am working on the test server. And dont see any errors. But I am no unit test...

[2018-04-08 20:12] pattonwebz commented on #632
Shameless plug here but the `understrap_WP_Bootstrap_Navwalker()` walker is based on a an old version of the [WP_Bootstrap_Navwalker](https://github.com/wp-bootstrap/wp-bootstrap-navwalker) that Ed, myself and a few other developers have maintained over the years. I have not tested the walker in this theme however the version which it was forked from did not have support for BS4 markup anyway.

Th

[2018-04-09 02:42] axlright commented on #631
Thanks @gintsmurans and @holger1411 for giving it a go. I never seem to have lag with browsers not picking up current stylesheets and js files during development, but this looks cool. Why wouldn't you leave it in place after launching the production site? The idea that your css and js files are only updated when your theme updates (using the theme version number for the query string) is pretty rid

[2018-04-09 02:55] axlright commented on #632
@pattonwebz Thanks - this is pretty rad and totally worth the plug. @holger1411 @Thomas-A-Reinert should we look into making another round of updates to the nav walker?

[2018-04-09 06:05] 0dp commented on #631
Isn't there something about page insight gives you negative rating for query strings?

[2018-04-09 07:13] gintsmurans commented on #631
@holger1411 Nice. :)

@axlright I would also leave it in production. There usually are issues with other people not seeing changes after updating css / js files. To avoid this - Changes are live. I don't see them. - confusion I am always using some kind of css, js versioning.

[2018-04-09 07:31] holger1411 commented on #585
Thx @all and especially @MarieComet for this starting point and infos!
I test Gutenberg by myself (the first time) to check out how/if we should/can integrate the Bootstrap markup into it.

- Basically: Gutenberg will be a a core part of WordPress. Means every UnderStrap user (dev, designer but admins and writer, too) will use it. So a proper integration is important from my point of view

- A pro

[2018-04-09 13:19] axlright commented on #585
@MarieComet @holger1411 very very cool - how can others get involved?

[2018-04-09 13:25] axlright commented on #311
Hey @danvernon curious if you have an update on this - I'm thinking of doing the same thing as you for a number of my client projects - develop a MultiSite network that shares one common parent installation of UnderStrap with each website having it's own specific dedicated child theme installation. Benefit would be easier updating - they all use the same plugins and the same parent theme.

Are you

[2018-04-09 13:29] axlright commented on #454
Closing this issue because it has been abandoned. Please comment if you are still experiencing an issue @GitStl

[2018-04-09 13:29] #454 closed

[2018-04-09 13:34] Thomas-A-Reinert commented on #311
I guess the updating problem resulted from different major changes. In my experience (I run several multistes) everything works as expected.

Just make sure to verify everything works as expected on a dev-environment.

[2018-04-09 13:42] axlright commented on #491
Are you still experiencing this issue @dylannirvana @alexjustesen ? Looking to clean up open issues. Thanks.

[2018-04-09 13:46] axlright commented on #379
Closing this issue because @joshua-stewart provided valuable feedback and because the `gulpfile.js` has multiple revisions since. @Marcvz  and @fahaddsheikh and @Parcye comment if you are still experiencing issues.

[2018-04-09 13:46] #379 closed

[2018-04-09 13:52] axlright commented on #515
Thanks for the input @christopherarter - many people keep the _child_theme_variables first because they want to re-declare global variables there, for example to change what color `$gray-600` specifies to not use the default Bootstrap color. If you reference Bootstrap variables in your `_child_theme_variables.scss` you will have to declare them earlier in the file or do what you did here and move

[2018-04-09 13:52] #515 closed

[2018-04-09 14:39] the94air commented on #523
I just came by your issue and I want to point out that there is an article explaining that https://docs.woocommerce.com/document/template-structure/

[2018-04-09 21:00] 0dp opened #634 "Bootstrap 4.1 released"
First minor update released

https://blog.getbootstrap.com/2018/04/09/bootstrap-4-1/

[2018-04-10 13:14] Coop920 commented on #311
I'm also about to embark on a similar project where I'd like to use a parent / child theme relationship, but have my parent theme handle custom code, like post type declarations and such.  Obviously if I did this directly to understrap and then there was an update, there is the potential of it removing said code.

Any suggestions on a best approach for this?

[2018-04-10 13:31] Thomas-A-Reinert commented on #311
Is there any reproducible reason why this _must_ be handled by the parent theme? In my opinion: no. So do it in the child-theme.

This is just the same situation that you have with _any_ theme when you alter it´s code - you´ll loose your changes with the next update.

[2018-04-10 14:13] Coop920 commented on #311
@Thomas-A-Reinert Correct, I understand the situation.  I've been leaning towards having a plugin handle the post type declarations.  I would be curious of the following scenario is possible:

understrap  --> multisite parent theme --> multisite child theme(s)

This way, the multisite parent theme code can be modified directly and still inherit changes directly from understrap.

[2018-04-10 14:39] Coop920 commented on #311
Yea, i was just seeing what the possibilities might be.

[2018-04-11 14:14] nuriye opened #636 "Owl Carousel not working (...is not a function)"
Hi!
I have the understrap & child theme.
Tried to use the owl carousel - you say it's built in - does that mean that i can use the slider in my js like this?
` jQuery('.owl-carousel').owlCarousel({
    loop:true,
    margin:10,
    nav:true,
    responsive:{
        0:{
            items:1
        },
    }
});`
Because it seems like the function can't be found. My Console keeps telling me "jQuery(

[2018-04-11 16:55] uitta commented on #570
You can count on me for the italian translation...

[2018-04-12 18:36] holger1411 commented on #622
Done here: https://github.com/understrap/understrap/commit/548f4f04c1947da6e5238d8a17309e50e8bf8789
 Thx @jack-fdrv !
Will check and test it a bit and will be shipped with 0.8.3

[2018-04-13 11:01] olivern opened #639 "Grouped Product Children Not Showing"
I have been using understrap for some time but not with any woocommerce stores. I have recently redesigned a website using understrap and noticed that after moving the content, the grouped product is now not showing any options on the product page. When you click "add to cart" it says "please select an option" but the options are not there.  The grouped product and its child products are set up ex

[2018-04-13 11:34] Thomas-A-Reinert commented on #639
Hi @olivern , doesn´t really sound as if it was UnderStrap related due to the fact that UnderStrap just has some WooCommerce-templates but does not rewrite anything of Woo´s structure/database/functions.
To me it seems as if anything wasn´t correctly re-written when moving the site.

Please install the "[Duplicator](https://wordpress.org/plugins/duplicator/)" plugin on your old site and make a bac

[2018-04-13 11:37] olivern commented on #639
Alright, thanks. I was thinking that it probably wasn't under-strap but just wanted to check.

[2018-04-13 11:37] #639 closed

[2018-04-13 16:51] holger1411 commented on #634
Closing this because of: https://github.com/understrap/understrap/releases/tag/0.8.2
Bootstrap 4.1 is now part of 0.8.2 release.

[2018-04-13 16:51] #634 closed

[2018-04-13 16:54] holger1411 commented on #636
The owl carousel was removed some time ago.
It was replaced by the default Bootstrap carousel in UnderStrap 0.5.4

[2018-04-13 16:54] #636 closed

[2018-04-13 17:07] cetorres opened #640 "Navbar must be outside any container or div to work properly"
Following Bootstrap concept, Navbar must be outside any container or div to work properly. For example, for class sticky-top work (navbar sticks to the top), it must be like that. So I moved it below <body> tag, above other divs and containers and it worked.

[2018-04-13 17:08] cetorres commented on #640
And please add the class sticky-top to navbar by default.

[2018-04-13 17:15] holger1411 commented on #640
No:
http://getbootstrap.com/docs/4.1/components/navbar/#containers
There can be an outside or inside container. Bootstrap handels both very well.

And .sticky-top or .fixed-top can be added to the outside container as well. It is not a component exclusive class.

[2018-04-13 19:15] holger1411 commented on #631
@axlright: I have to explain why people can´t see the new changes and why they have to clear there browser cache first, several times a week. ;-)
Will save a lot of my lifetime!

Especially if you ship updates several times a day you must make sure that your coworkers and the visitors will see the latest version without doing something. And I don´t want to increase the themes version number just b

[2018-04-13 19:53] axlright commented on #631
@holger1411 I'm totally behind the concept.

I just somehow don't have clients or my dev team having trouble seeing new content. Maybe it's our host? All my client sites are hosted on WP Engine. Some use Cloudflare for CNAME flattening and DNS caching, and for those I need to clear the DNS cache. But for sites that aren't on Cloudflare, when I push css, js or php changes, I almost never hear the w

[2018-04-13 22:57] Thomas-A-Reinert commented on #631
If I may weigh in my 2cent..

To mention something positive first: Going for a timestamp is MUCH better than going for the version number which won´t change too often!

@0dp  - you´re absolutely correct. It HAS an impact on GTMetrix / Pingdom / PS Insights / WebPageTest and the likes. So in my eyes it´s contraproductive to work against a clients "stupidity" (sorry, no offense intended) by implemen

[2018-04-14 01:45] jack-fdrv commented on #622
Well, I am so happy that my idea was helpful and you are implement it! =)

[2018-04-14 03:50] holger1411 commented on #631
@Thomas-A-Reinert Thx for weighting in.

Basically, of course, you are right: If something impacts the performance there must be a very very very good reason for it. And it isnt a good reason if it just improves the workflow of a dev, while thousands of websites will render slower than before.

But is there an impact on performance?

Just to understand it (I am not too much into how Browsers work.

[2018-04-14 05:36] jack-fdrv opened #641 "Save button has disappeared on widgets"
![Image of bug](https://src.fdrv.guru/180414083450.jpg)

[2018-04-14 10:00] holger1411 commented on #641
Strange thing. The class itself is a WordPress class and isnt changed by UnderStrap.
And it works without problems on our demo site. Latest WP version and latest UnderStrap version.

Does it happend on all widget areas or just on "Footer Full"?
I renamed this position yesterday. And if you use the bleeding edge version from here (the upcoming 0.8.3 release) it might cause this trouble if it just a

[2018-04-14 10:29] jack-fdrv commented on #641
Sry, it was my mistake. by adding to the new class`public function form( $instance ) {}` which extend WP_Widget is fixed.

[2018-04-14 10:29] #641 closed

[2018-04-14 10:29] holger1411 commented on #641
👍

[2018-04-14 10:36] holger1411 commented on #585
Hm, I would say: The first task is to find out how we could overwrite a default block markup.
Is there a best practice already? Is there a tutorial?
I read something about the Blocks API and the extending blocks capabilities here:
https://wordpress.org/gutenberg/handbook/extensibility/extending-blocks/#blocks-getblockdefaultclassname

Sounds like it could be a sarting point...
But it isnt very wel

[2018-04-14 10:45] PaoloPgn opened #642 "Warning message for text-hide() mixin thet has been deprecated"
Hi
I got this error running gulp watch
"WARNING: The `text-hide()` mixin has been deprecated as of v4.1.0. It will be removed entirely in v5"
I googled and I find that is a Bootstrap related issue that can be solved within _text-hide.scss changing line 10, but someone don't like it cause they say it's better to use --quiet mode.
Is this possible with understrap and how?

## Issue is about..
  - [

[2018-04-14 13:47] holger1411 commented on #642
Hi!
We will do exactly what the Bootstrap guys do: Keeping it but with a deprecate message, than replace it with 5.0. The message just gives the user an important info: "Watch out, this component will be removed in the future! Don´t rely to much on it."

So adding a workaround (which adds inconsistency to "our" Bootstrap version and make it un-updateable from the original) just to get rid of a imp

[2018-04-14 15:12] holger1411 commented on #642
@PaoloPgn Yes I know 😄  Was the same here. As @mdo announced it was the first time they use a deprecate message.

[2018-04-14 16:00] erinjohnson21 opened #643 "Rolled back update and now having issues with jquery.slim.min.js"
I am using the latest update to Wordpress. I also updated UnderStrap to the latest version but it broke my site. The only thing that was showing was the nav bar with logo and external links. Everything else was missing.

So I rolled back from a previous backup and now my jQuery is not loading properly and it is keeping certain plugins from loading.

![screen shot 2018-04-14 at 10 56 46 am](https:/

[2018-04-14 17:26] axlright commented on #642
The deprecation message is written directly into _text-hide.scss - I'm sure there are a *lot* of Bootstrap devs out there that are sick of looking at that message.

I got tired of looking at it so I commented out lines 56-58 of /src/sass/bootstrap4/utilities/_text.scss

[2018-04-14 17:32] axlright commented on #643
Regarding the issue of "The only thing that was showing was the nav bar with logo and external links", make sure that your header.php is using the new nav walker:
`'walker' => new understrap_WP_Bootstrap_Navwalker(),`

Regarding jQuery, can you send details of the child theme's function.php enqueue lines for jQuery? Newer versions of the themes don't call jQuery slim.

[2018-04-14 17:55] ZacharyElkins commented on #631
I’m not sure about the performance impact, but I’m sure that PageSpeed has their reasons.

I typically use some sort of caching plugin, which bundles all my CSS and sometimes JS files (selectively on the JS). This seems to get rid of any lag as the caching plugin loads it’s own file after processing and usually has a random file name.

I’ve never had a source file lag issue after pushing updates,

[2018-04-14 18:15] erinjohnson21 commented on #643
This is the child theme which is Version: 0.3.1
`function understrap_remove_scripts() {
    wp_dequeue_style( 'understrap-styles' );
    wp_deregister_style( 'understrap-styles' );

    wp_dequeue_script( 'understrap-scripts' );
    wp_deregister_script( 'understrap-scripts' );
}
add_action( 'wp_enqueue_scripts', 'understrap_remove_scripts', 20 );

add_action( 'wp_enqueue_scripts', 'theme_enqueue_

[2018-04-14 18:26] axlright commented on #643
@erinjohnson21 Which version of the child theme have you upgraded to?

It may be a good idea to make sure you're using the current child theme's functions for enqueuing jQuery. Here's the functions from the most current child theme's functions.php:

[code]
The code you sent doesn't have any indication of enqueuing jQuery at all.

[2018-04-14 18:33] erinjohnson21 commented on #643
I haven't upgraded the child theme, I don't think. It's version 0.3.1 that I have.

I'll try the newer theme functions and see if that works.

Thanks for the help!

[2018-04-15 00:29] Thomas-A-Reinert commented on #642
Guess I seen it a zillion times today :)

Anyway, I guess that´s pretty good practise. Maybe we could learn from that!?

[2018-04-15 00:47] Thomas-A-Reinert commented on #643
You´ve been using an "Alpha"-Version of BootStrap4 which was not meant for production. Yes, I agree, the "UnderStrap"-Projekt should´ve pointed that out more clearly. But yes, that´s a fact and we can´t turn back the time.. Sorry for that though.

Anyway -  Alpha´s are subjects to change. Which did happen in your case. And due to the fact that you didn´t go through every **** iteration you seeming

[2018-04-15 00:47] #643 closed

[2018-04-15 01:55] Thomas-A-Reinert commented on #631
Sorry, that I and maybe also @gintsmurans started it - but the whole discussion is pointless as a whole. And sorry - I added up to that and was _totally_ opinionated without going into details! Really - sorry. That should´ve been handled more professionally and less opinionated..

**To clarify:**
- What @gintsmurans suggested totally works. It busts cache when there´s an update. And a pretty smart

[2018-04-15 08:34] gintsmurans commented on #631
@holger1411 This is so familiar :) I also find that cache expiration headers are not always working and this is, as you say, a "hard browser cache reset", that works. Whats the point of having good performance, if customers see the website as not intended..

[2018-04-15 09:30] THREELabs opened #644 "Unable to show Header Image, without having Banner Title and Tagline."
I'm sure I am just doing this wrong. But is it possible to have the header image show, without the Header Tagline and Header Title. Just have it show a logo instead?

![2018-04-14 20_42_08-customize_ three skateboarding skateboarding news and shit](https://user-images.githubusercontent.com/8344415/38776966-c66cccb8-4054-11e8-90fa-d5ae7570a0b2.png)

[2018-04-15 11:34] holger1411 commented on #644
Sure. Just use the static header position.
But the "Header Banner" widget is not part of UnderStrap. Seems you use a custom widget or something else?

[2018-04-15 14:09] 0dp commented on #631
Does that not mean that if we want to satisfy everybody. We will need to drop the query string in favor of rewriting the source name when compiling a new version, and injecting the new version.
That is, `...style.[value].min.css` in favor of `...style.min.css?v=[value]`

[2018-04-15 17:00] holger1411 commented on #640
Closing this. But feel free to re-open if there are questions left.

[2018-04-15 17:00] #640 closed

[2018-04-15 17:01] holger1411 commented on #633
Fix was released with 0.8.2. So I´am closing this issue.

[2018-04-15 17:01] #633 closed

[2018-04-15 17:03] holger1411 commented on #622
Closing this issue becasue it was fixed and shipped with 0.8.2. Thx @jack-fdrv !

[2018-04-15 17:03] #622 closed

[2018-04-15 17:04] holger1411 commented on #600
Closing this issue becasue it was fixed and shipped with 0.8.2

[2018-04-15 17:04] #600 closed

[2018-04-15 18:54] Ostendorf commented on #491
Hello, I seen to have this same issue today. After `npm install understrap` I just get a lock-file and node_modules directory, but none of the other files.
I tried to place the `package.json` from this repo into the directory, but then it misses the `gulpfile.js` and after that has been placed it misses `gulpconfig.json`...

Versions:
* macOS 10.3.4
* node 9.11.1
* npm 5.6.0

Terminal actions/outp

[2018-04-16 02:29] Thomas-A-Reinert commented on #631
@0dp : yes, that´s absolutely it and the smartest solution by far in my eyes. Not easy to implement though, I guess.  And no - I absolutely have _no_ clue about how to realize that.

@gintsmurans : My suggestion should solve your problem too, right? Yes I understand your concerns. Totally. It´s non-web-educated customers vs. too-well-educated customers.
@holger1411 : it would also solve your probl

[2018-04-16 06:49] 0dp commented on #631
We can make it happen with gulp-rev in the dist task, and a small addition to enqueue.php

[2018-04-16 12:44] 0dp commented on #632
#567

[2018-04-16 15:55] blachawk opened #645 "Gulp Watch initialization (Global)"
Please delete anything that does not apply for you!

## My issue:
  - [ ] A question in regards to initializing Gulp watch from a global standpoint

## My environment:

  - WordPress Version: 4.9.5
  - Browser: [ Chrome 65]
  - Node.js & NPM Versions: Node.js [V 8.10] | NPM [V 5.8.0]
  - UnderStrap-master.zip 0.8.2

## My steps:

I'm processing steps noted [here](https://understrap.github.io/).

I

[2018-04-16 16:28] jaredsnider opened #646 "Best practices for removing unused assets to reduce weight/"bloat"?"
## Issue is about..
  - [ ] a Question
  - [ ] I need help

---

I am about to tackle this for my site and figured it could be helpful to others so I figured I should inquire here first. Maybe this is an @axlright question? Just wondering the best method for stripping out Bootstrap stuff I am not using, preferably in a "non-destructive" way so I am doing it somewhere that won't get easily overwrit

[2018-04-16 16:39] jaredsnider commented on #646
I believe 'assets/bootstrap4.scss' works for commenting out unused SCSS (assuming that covers it but not positive)... I guess I would be more lost in getting rid of any unused JS assets from the theme.

[2018-04-16 17:01] 0dp commented on #645
gulp4(gulp-cli) is not yet supported, try and downgrade to gulp3.9
Or you can try the gulp file here:

`https://github.com/0dp/understrap/blob/gulp4/gulpfile.js`

and package.json here:

`https://github.com/0dp/understrap/blob/gulp4/package.json`

[2018-04-16 17:11] blachawk commented on #645
I removed my previous gulp verison.  I installed gulp 3.9 with the following command:
`npm install --g gulp@3.9
`

I then ran the following command:
`gulp watch-bs
`

But I get the same message:
[code]
still stuck

[2018-04-16 17:27] pattonwebz commented on #567
Hey all,

So the output of additional hidden menus is NOT the ideal behavior but was a relic from the original BS2 walker. It was also reluctantly added back in at one point as a compromose to allow people to easily create their own styles and JS handler for sub-submenus if they chose to do so (Even though Bootstrap Core does not offer those extra levels - the intention was that the walker should

[2018-04-16 17:45] blachawk commented on #645
I'm golden now.  Here are the steps I took to fix my issues:

* My understrap-master.zip theme is fully installed in WordPress
* Installed a global version of Gulp 3.9:
 `npm install -g gulp@3.9`
* From the terminal, I set my path to my themes folder location:
`~/Documents/mTraining/wordpress/starterthemes/understrap/wp-content/themes/understrap-master`
* I went into my globalconfig.json file and

[2018-04-16 20:44] axlright commented on #646
Yes like @jaredsnider said, when I get to the end of development before publishing live, I go through `assets/bootstrap4.scss` and comment out elements the project doesn't use. This was done in Bootstrap3's online configurator in a similar way. Here's an example of a project getting published today:

[code]

[2018-04-16 20:47] 0dp commented on #632
@pattonwebz @axlright I just quickly tried to plug the newest walker into the theme but couldn't get the dropdowns to work. I had a really long day so I am not going to debug tonight. But if you get the chance, give it a shot 🙏 👊

[2018-04-16 21:34] pattonwebz commented on #632
I made a quick PR with the other walker and the depth parameter. Is working my end with dropdowns, can you test it on yours when you get a chance?

[2018-04-16 22:08] bruceconlon opened #648 "Font-awesome OTS parsing error: Failed to convert WOFF 2.0 font to SFNT"
I'm getting the following in the Chrome console recently. I'm using the latest parent and child code.

When I click on the font in the console, its there so the paths seem correct and file is on the server, so I wonder if its being treated as a text file in the gulp copy, rather than a binary? Maybe needing something like options: { process: processFiles, noProcess: ['ttf,otf,woff,woff2,eot}']}?

[2018-04-16 22:59] Thomas-A-Reinert commented on #632
thanks @pattonwebz for joining in!

Tried to integrate your latest bs4 version bout a month ago but miserably failed and lost patience in doing so, cos thought this would be a no-brainer :/ May have been due to https://github.com/understrap/understrap/issues/632#issuecomment-381754566 though.

As I´m currently working on a new project that relies on the navigation to have css classes (yes, Font-Aw

[2018-04-16 23:03] pattonwebz commented on #632
The latest version of the walker I added in PR #647 should be able to do what you need. Just add a `sr-only` class the the `CSS Classes` input beside any `fa fa-*` classes and you should be good. Navigation label should be supported too :)

[2018-04-16 23:08] Thomas-A-Reinert commented on #646
@axlright is absolutely correct in mentioning that´s the (ony) way to do it. Up to now.

But I´m experiencing the same problem with a current project. And I know that those settings will prolly get lost with the next update again.

Suggestion:
1. We should set up a "Bootstrap-component loader" in "themes/understrap-child/sass/theme" that loads any component by default but has good instructions on

[2018-04-16 23:17] Thomas-A-Reinert commented on #645
Hi @blachawk  - first, I´ll be closing that issue due to the fact that you seemed to resolve it on your own.

But let me ask some questions, if you don´t care.
Migrated to VS Code some time ago and really like it. Still don´t know the smartest ways to work with it.
Did the whole command-line stuff from well - the command line so far.

- So - when I press F1 VSC opens a LONG list with possible comm

[2018-04-16 23:17] #645 closed

[2018-04-16 23:19] pattonwebz commented on #632
@Thomas-A-Reinert would the fact that icons are output with the `aria-hidden="true"` property cause issues with your intended use case?

[2018-04-16 23:26] THREELabs commented on #644
That is fine, thanks.  I did your method by adding the image and it is fine now.  I'm not exactly sure where I am  getting that Header Banner feature  feature from in the Customization section though.  Kinda strange.  I don't have any plugins that would seem to add that functionality.

![2018-04-16 16_23_51-plugins three skateboarding wordpress](https://user-images.githubusercontent.com/8344415/38

[2018-04-16 23:26] Thomas-A-Reinert commented on #631
@0dp you don´t only have my thumbs but also my big toes up for that ;)

[2018-04-16 23:34] Thomas-A-Reinert commented on #598
Hey @edmacfly , due to the fact

- that  no follow up has been posted
- it seems to be an edge-case

.. I´ll close that topic for housekeeping

[2018-04-16 23:34] #598 closed

[2018-04-16 23:39] Thomas-A-Reinert commented on #594
Apart from the fact that all problems _seem_ to be child-theme related (which should be posted in it´s [OWN repository](https://github.com/understrap/understrap-child) to keep things clean here) I am totally with @axlright  - there SHOULD be a highly-visible not on crucial updates.

I guess only a minority will ever read the Changelog so I´m really for an Inside-WP-Popup that informs about _CRUCIA

[2018-04-16 23:43] Thomas-A-Reinert commented on #593
Please see #613 - Follow this issue to stay up2date.
Closing it for now. Feel free to reopen.

[2018-04-16 23:43] #593 closed

[2018-04-17 00:24] Thomas-A-Reinert commented on #644
It *smells* like "Child Themeify" would be responsible for it. Please try to disable and tell us about the outcome, okay?

UnderStrap doesn´t support a "Header Image" so far, so I guess this plugin is responsible for it ;)

[2018-04-17 00:39] THREELabs commented on #644
Hmm, yeah that did seem like that would be it.  I did just install that last night for testing purposes.  But I just now went in and disabled all the plugins entirely.  And I still see it in there lol.  Don't you love when the unknown happens lol.

![2018-04-16 17_36_31-](https://user-images.githubusercontent.com/8344415/38842157-29546dec-419d-11e8-8548-37ba0aa487b1.png)

[2018-04-17 00:41] pattonwebz commented on #632
So I misrepresented the method above but it actually shows 2 different functions of the walker.

1. 1st thing it shows is that icons are added via the 'CSS classes' input and then at output time they separated and placed on their own `<i>` element.
2. 2nd thing it shows is that items can be made _icon only_ by adding some icon classes alongside the `sr-only` class to the item in the CSS classes in

[2018-04-17 01:12] Thomas-A-Reinert commented on #632
@pattonwebz another night-shifter ;)
Thanks again for your fast and helpful updates! Invaluable!
(Please excuse me, but I´m no native english, but I´ll try to get along though)

1. Yeap, absolutely correct! Anyway, personally I HATE putting them into an `<i>`-element. That ain´t made for it, I´d prefer a `<span>` and I know that certain WCAG-Tools punish putting Icons into an `<i>`-Element.. But t

[2018-04-17 01:27] Thomas-A-Reinert commented on #644
Funny thing is: There ain´t no such thing as "Header Banner" within stock UnderStrap!
Check Screenshot below:
![image](https://user-images.githubusercontent.com/5886977/38843391-1da7f8ae-41ef-11e8-9a86-f9b24f83b45b.png)

So whatever that comes from - it´s not an UnderStrap Problem! ( I guess)

[2018-04-17 01:29] pattonwebz commented on #632
Your English is actually quite good, my explanations are not so good haha!

As for swapping the `<i>` element to a `<span>` The current walker cannot do that but it would be quite easy to add a flag and let people choose which they prefered. We can also work to get accessibility improved too in the same batch of updates.

When you say:

Do you mean
* You want to know how I found this project?

[2018-04-17 01:30] THREELabs commented on #644
Haha, all good! Thanks for looking anyway heh

[2018-04-17 01:44] Thomas-A-Reinert commented on #644
No problem. Would you be willing and able to share what caused the problem?

[2018-04-17 02:50] pattonwebz commented on #632
@Thomas-A-Reinert The PR i made has the latest version of the walker in it so you should be good to pull it to a dev environment and test it out. You just need to add your menu through the WP interface and set the options you want - like icons, screen reader etc. Feel free to ask any question you have when you get to testing :)

Don't worry about misunderstandings about mentions of the team. I kno

[2018-04-17 02:50] ZacharyElkins commented on #646
Idk about child themes.

For the parent theme commenting out the CSS files works just fine.

However, the JS files are not separated, as Understrap uses the single Bootstrap JS file. It would have to be switched out with the Bootstrap JS source files, including a file which loads them all for commenting out the unused components.

Maybe something a bit fancier could be made?

[2018-04-17 03:08] axlright commented on #646
@Thomas-A-Reinert I don't think Bootstrap is gonna change that file very often. I've never had one of my custom `assets/bootstrap4.scss` get overwritten. It would take Bootstrap updating theirs then the Understrap team amending it to have the proper directory paths and I think that people who know enough to be slimming down their css this way will be on the lookout for Bootstrap then Understrap ch

[2018-04-17 03:33] jaredsnider commented on #646
Maybe loading the JS files individually in the `gulpfile` is the answer (then they could be commented out accordingly) as opposed to loading the whole folder. I might give it a shot, though I am admittedly not a master of the gulpfile.

[2018-04-17 06:44] 0dp commented on #632
This was a pleasant surprise to wake up to. Gotta love the community.
I'll give the pr a test this afternoon and report back 👍

[2018-04-17 06:58] 0dp commented on #631
I can write up a glob for that to test out

[2018-04-17 15:46] Thomas-A-Reinert commented on #632
Hi @pattonwebz - I thoroughly tested your PR and found just two issues with it.

**Issue 1**  You `require get_template_directory() . '/inc/class-bootstrap-wp-navwalker.php';` but the files actual name is class-wp-bootstrap-navwalker.php so it throws an error that the file couldn´t be found.

**Issue 2** I´d recommend keeping the old functions name `understrap_WP_Bootstrap_Navwalker()` instead of

[2018-04-17 16:05] pattonwebz commented on #632
@Thomas-A-Reinert Yep I will look to fix both those issues, my bad. I really should have created the PR from the live environment I work in instead of manually duping the changes over to a fresh repo.

PR update will be through in the next hourish :)

[2018-04-17 20:18] Thomas-A-Reinert commented on #632
Currently working on another child-theme I can confirm that dropdowns also work with the latest commit @0dp ;)

Thanks again for your help, @pattonwebz !

[2018-04-18 01:59] GuerrillaCoder commented on #648
Have you tried setting the mime type on server to `font/woff2`?

[2018-04-18 08:42] 0dp commented on #648
As far as I understand, pipe literally streams a readable source into a writable destination (may that be a task or file or process) and does not care about whats going in or out. So what ever goes in, comes out.

[code]

This demo task is also the preferred method as described in the documentation.

How did you get the files onto the server; is there anything along the path that could have disrup

[2018-04-19 00:03] bruceconlon commented on #648
Thanks guys, really appreciate the help, and sorry if its not actually a bug but a fault with our process.

We use AWS OpsWorks, which basically pulls the latest from the repo, and then runs `gulp styles` and then `gulp dist` and copies the dist directory to the web dir, so I'm not sure if it is doing anything else disruptive in the path, its fairly primitive?

Happy to try setting the mime type t

[2018-04-19 00:11] GuerrillaCoder commented on #648
For apache I think you can add this to .htaccess:

[code]

That will set the content-type header.

For nginx I think you can paste this into mime.types file without the surrounding tag and remove AddType from each line.

Obviously this is for all font types, just merge as necessary.

[2018-04-19 23:19] mercray opened #651 "Issue with pagination in 0.8.2"
## Issue is about..
  - [ ] a Bug Report

## Please tell us about your environment:

  - WordPress Version: 4.9.5
  - OS Version: Windows Server 2012 R2
  - Browser: All
---
![404 example](https://user-images.githubusercontent.com/38543961/39023019-a1819ab6-447b-11e8-81ed-04853e03f9f5.png)

# Issue Overview for Bugreports

Pagination seems to have changed between 0.8.1 and 0.8.2. After upgrading,

[2018-04-19 23:26] Thomas-A-Reinert commented on #651
Hrmpf. Thanks for submitting this probable bug.
Cannot currently reproduce, because i´m stuck in a project. Will assign others who may be able to reproduce, okay? Just wanted to give you a quick-response.

Questions: This happens just within the parent-theme or also within the child? Or is this ONLY Child-theme related?

[2018-04-19 23:38] mercray commented on #651
I have a child theme I have written that was working fully with 0.8.1 – I’m fairly new to WP theme writing so fully expected it was something I had done. Therefore I activated the Understrap (parent) theme itself and the issue still existed, so I thought I should report it.
From: Thomas A. Reinert [mailto:notifications@github.com]
Sent: Friday, 20 April 2018 9:27 AM
To: understrap/understrap <unde

[2018-04-19 23:53] Thomas-A-Reinert commented on #651
Hey @mercray please don´t feel discredited - but you´re in the wrong section. But Child-theme related topics should be handled in the [CHILD-THEME-REPOSITORY](https://github.com/understrap/understrap-child).

That doesn´t mean that we´re not willing to help you ASAP we find the time - but everything should match its topic. And we´re in UnderStrap PARENT Theme right now. This was exactly why I was

[2018-04-19 23:53] #651 closed

[2018-04-20 06:05] manacim opened #652 "UnderStrap is outdated in WordPress repo"
I can confirm this. I downloaded the zip file from the website, pagination.php exists in global-templates. This fixes the issue of hiding the next page arrow when on the last page.

When I update it via WordPress plugin page, the pagination last page arrow gives me a 404.

[2018-04-20 07:58] MarieComet commented on #585
Hi, coming back here...
From my point of view :
- there will be only one thing in UnderStrap to support Gutenberg : [theme support](https://wordpress.org/gutenberg/handbook/extensibility/theme-support/).
- All other things, as Holger said, will be in a standalone plugin, and it require : knowledge, and that gutenberg is "finished".
Especially things related to override blocks (markups, css...), as

[2018-04-20 08:01] Thomas-A-Reinert commented on #652
Easy - what you find here is the very latest, development "cutting edge" version. It is updated with every single code-submit.
What you find within the WP-Repo is the latest "stable" version. So no, it´s not "outdated".

[2018-04-20 08:01] #652 closed

[2018-04-21 01:43] ZacharyElkins commented on #646
@axlright  I've started working on this, I'll update this post once I submit a PR. Already have it working, just need to work out the gulpfile changes. You're also correct that assets/bootstrap.scss rarely gets changed. By the way, the original Bootstrap version of this file can be found in understrap/src/sass/bootstrap4/bootstrap.scss

@jaredsnider  Give me a few days and hopefully what I propose

[2018-04-21 06:27] jaredsnider commented on #646
@ZacharyElkins This is great, thank you for your work! I load `jquery-latest.min.js` in my footer, mainly to account for some some functionality that I can certainly live without and/or find a more simple (preferably non jQuery solution for)... at the moment I am an utter JS beginner. For now I am going to comment it out (trying to reduce the amount of resources loading anyways so its a good idea

[2018-04-21 13:34] blachawk opened #654 "UnderStrap core files for major theme updates"
## Issue is about..
  - [x] a Feature Request
  - WordPress Version: 4.9.x
  - OS Version:Windows 10
  - Browser: [ all |
---

Look for a tutorial or guide that will help me to customize UnderStrap as much as my heart desires,  **without modifying UnderStrap core files**, this way when I have to do upgrades in the future for the starter theme, implementing changes will not be as painful.  Do you h

[2018-04-21 16:27] Thomas-A-Reinert commented on #654
Hi @blachawk . Well you´re right - we could in fact improve on documentation. That´s a topic I´m currently investigating on how to improve.

Besides: It´s just like with almost any other WordPress theme.
The child inherits almost anything from its parent.
Exception/s with UnderStrap: The child deregisters it´s parents styles and scripts and therefore become independant from them and also doesn´t l

[2018-04-21 16:30] blachawk opened #655 "Installing mutliple instances of UnderStrap into a single WP CMS"
## Issue is about..
  - [x] a Question

Is it ok for me to install multiple instances of UnderStrap into a single WP CMS?  I'm doing so, so I can compare development versions from Visual Studio Code and npm processing from the terminal.  If this is cool to do? If so, what naming conventions are recommended for the .zip files before I add them into WordPress?

Many thanks

[2018-04-21 16:36] Thomas-A-Reinert commented on #655
Personally I wouldn´t do so and it shouldn´t be impossible without doing several tweaks I´d really not recommend.

In my scenario on a localhost I have two different WordPress installations. One with the latest version and another with the version I want to compare with. I do a DIFF (with Tools like WinMerge under Windows for example) between those versions then and try to find out where the diffe

[2018-04-21 16:37] blachawk commented on #655
Many many thanks on your setup recommendation - I was looking for that!

[2018-04-21 16:43] #655 closed

[2018-04-21 16:43] Thomas-A-Reinert commented on #655
Sorry, I said "impossible" above but meant "possible". Corrected already.

Besides - you´re always welcome!

[2018-04-21 16:47] blachawk commented on #654
All sounds wonderful.  Is installing the child theme just as easy as simply getting the .zip file from the understrap web site and extracting it into `wp-content/themes/` folder? Or are there more steps to that?  anything with npm I have to do, to get the child theme registered with the Parent theme?

Many thanks!

[2018-04-21 17:00] Thomas-A-Reinert commented on #654
No that´s exactly it.
You´d need to switch your active theme to the understrap-child, sure. In case you altered many things in the customizer I´d recommend exporting the parent themes´ settings through some plugin like [Customizer Export/Import](https://wordpress.org/plugins/customizer-export-import/).

About npm and such, you can find a (pretty barebone) documentation on [understrap-childs](https

[2018-04-22 17:08] ZacharyElkins commented on #646
@jaredsnider Well, I thought jQuery was required for Bootstrap. Most or all of their JS uses jQuery, so if you use their JS you need some version of jQuery.

Just load one version, preferably in the head as the rest of your JS will be dependent on jQuery being loaded first. You can always mark your JS as dependent on jQuery when you enqueue it and try to load them both on the footer. As long as it

[2018-04-22 22:53] #654 closed

[2018-04-23 07:59] patrickritskes opened #656 "What is the best way to show the right sidebar ONLY on the WooCommerce Shop page?"
## Issue is about..
  - [x] a Question
  - [x] I need help

[2018-04-23 11:16] Thomas-A-Reinert commented on #656
Hi Patrick,

i´d recommend building your own template based on  page-templates/both-sidebarspage.php maybe.
There you can already see an if-conditional to check for a right sidebar. See [WooCommerce Docs](https://docs.woocommerce.com/document/conditional-tags/) for any conditional on how to check for them. `is_woocommerce()` will probably do the job but could also handle that more fine-grained.

[2018-04-23 14:24] MarieComet commented on #585
Hi,
I'm searching how to create partial CSS files which should be loaded in admin, for example, buttons :

in /understrap/sass/theme/_gutenberg.scss
-> @import "../../src/sass/bootstrap4/buttons";

/understrap/css/gutenberg.css
-> css + Bootstrap buttons style

I can't find what to edit in gulpfile.js to add custom task and import Bootstrap partial SCSS styles, I've tried to duplicate 'minifycss'

[2018-04-23 14:39] blachawk commented on #547
Hey guys, just out of curiosity, is there yet an official way yet to completely remove font-awesome 4.7 from the latest version of UnderStrap? And perhaps extend the npm module packages (after we install UnderStrap), so that developers have a choice in adding the latest version of font-awesome 5 to the theme?

[2018-04-23 16:02] 0dp commented on #547
Hey @blachawk
For now the closest official documentation is found in this thread.

This will be added in the documentation at some point, but this is a topic that is still being discussed.

[2018-04-23 18:40] blachawk opened #657 "Purpose for itemtype on element in header.php"
## Issue is about..
   - [x] a Question

What is the purpose of the following in the header.php file, on the `<div id="wrapper-navbar">` element?

`	<div id="wrapper-navbar" itemscope itemtype="http://schema.org/WebSite">
`

[2018-04-23 19:46] axlright commented on #657
@blachawk It's a generic opening Structured Data element. Here's more about Structured Data:
https://moz.com/learn/seo/schema-structured-data
https://developers.google.com/search/docs/guides/intro-structured-data
https://moz.com/blog/structured-data-for-seo-1

[2018-04-23 19:57] shansmith01 commented on #646
Has anyone had a go at using something like uncss in their workflow? https://github.com/ben-eb/gulp-uncss. Or

https://github.com/purifycss/purifycss
https://github.com/FullHuman/purgecss

I had a play a few months ago but getting things working was a bit beyond me

[2018-04-23 20:07] blachawk commented on #547
@0dp what about the _path.scss file?  should anything be modified there to reference FA5 assets?

[2018-04-23 20:15] axlright commented on #547
@blachawk Fontawesome5 doesn't have a _path.scss. So if you're seeing that, you haven't installed
Fontawesome properly.

Can you document your setup?

[2018-04-23 20:24] 0dp commented on #547
@blachawk as @axlright said. walk us through the path you took. 😄

[2018-04-23 20:37] 0dp commented on #646
it's an interesting suggestion for the dist task @shansmith01
I have no experience with something like this, and I expect it needs extensive testing. Just becasue treeshaking could break stuff

[2018-04-23 20:43] blachawk commented on #547
First thing - If I install undersrtrap.zip file from https://understrap.com/  , activate it, and then go into the theme folder, there is a src/sass/font-awesome/_path.scss file there.

I then followed your steps above completely, and that _path.scss file is still there.

What am i doing wrong?

[2018-04-23 20:56] 0dp commented on #585
Hey @MarieComet ,

You don't need to make a partial _guttenberg.scss

Just add the file guttenberg.scss to the sass folder `sass/guttenberg.scss`
It'll be copied over to the css folder automatically when executing `watch-bs` or `styles`

If we want to minify it, we need to edit the `minifycss` task.

Here is an ugly version
[code]

[2018-04-23 21:05] 0dp commented on #547
That is correct! The theme comes packed with FA4, You'll have to do a bit of spring cleaning before proceeding with the steps.
No `npm install` will only install the dependencies aka. node modules. The modified `copy-assets` handles copying over the fonts and scss files to the src folder.

[2018-04-23 21:12] blachawk commented on #547
Thank you @0dp
I think the problem is that I didn't physicaly update the files within the `./fonts` and `./src/sass/fontawesome` folders with font awesome 5 files. That is now complete and my web site is now taking the latest version of font awesome 5 icons.

I'm good

[2018-04-23 21:25] blachawk opened #658 "Clarity on UnderStrap being Contact Form 7 ready"
## Issue is about..
  - [x ] a Question

When you guys say that UnderStrap is Contact Form 7 ready, you guys mean that it's 'SASS' ready, correct?  I would still install Contact Form 7 normally in WordPress if I need it, but if I want style it, UnderStrap already provides the SASS process for it.

Just trying to get clarity there.  Thanks!

[2018-04-23 22:53] Thomas-A-Reinert commented on #658
Well, worth a try, don´t you think?

[2018-04-23 22:56] #657 closed

[2018-04-23 22:58] Thomas-A-Reinert commented on #657
Always worth trying to do a research via google before opening an issue. See https://www.google.de/search?q=schema.org%2FWebSite

[2018-04-24 00:47] blachawk commented on #658
I think Contact form is one of the best forms for webpress and for you guys to make it sass ready is awesome.  keep it going!

[2018-04-24 03:50] GuerrillaCoder commented on #648
Header is set correctly so I guess it's not that.

How are you uploading the files to server?  If you are deploying with git you might need to set filetype as binary in gitattributes so it doesnt modify line endings.

[2018-04-24 03:53] bruceconlon commented on #648
Thanks mate, yes have done that too in .gitattributes

[2018-04-24 06:25] Thomas-A-Reinert commented on #648
From what I read I´d say that this is most definitely _not_ UnderStrap related. For that reason I´ll close that issue. May the force be with you ;)

[2018-04-24 06:25] #648 closed

[2018-04-24 08:48] MarieComet commented on #585
Thanks you @0dp ! Its work !

[2018-04-24 09:02] patrickritskes commented on #656
Hi Thomas,

Thanks for your reply on this
I indeed create my own template, and did a check with `is_shop()` and `is_product()`.

This works well right now, thanks!

[2018-04-24 09:08] Thomas-A-Reinert commented on #656
No problem, you´re welcome. `is_woocommerce()` reflects _any_ Woo-page except checkout and cart, but you can have that more fine-granulated as you did..

I´ll close this issue but feel free to re-open if any problem remains in this context.

[2018-04-24 09:08] #656 closed

[2018-04-24 13:45] MarieComet commented on #585
Just pushed first idea of an integration for the new editor (Gutenberg) on my fork : https://github.com/MarieComet/understrap/commit/3ab26d42711133df335d1d263be0682b8d54da98

Some explanations :

 With the new editor, we will need to load :
- specifics stylesheets in admin (editor)
- specifics stylesheets in front
- stylesheets both in admin and front

My idea is :
- Start to separate scss files i

[2018-04-24 13:47] #658 closed

[2018-04-24 17:53] blachawk opened #659 "How to add a class directly on UL elements"
## Issue is about..
  - [x] a Question

## Please tell us about your environment:
  - WordPress Version: 4.9.5

This is not a bug request, but more of a how-to-question in regards to Navigation menus with UnderStrap. If I were to create a navigation menu through WordPress, where at the file level do I go to add a BootStrap class directly onto the `UL` element?  I need to add `ml-auto` on the UL el

[2018-04-24 17:57] blachawk commented on #659
I apologize, I have done my homework and realized this is more of  WordPress process than an UnderStrap process.  A little bit of Google helped me out with WordPress's `wp_nav_menu` option for managing menus.

[2018-04-24 17:57] #659 closed

[2018-04-24 19:25] 0dp commented on #624
¡Hola! any testers available

[2018-04-24 21:12] 3derbauer opened #660 "datatables include"
how i can include datatables.js?

[2018-04-24 21:47] Thomas-A-Reinert commented on #660
We offer an issue template to gather best possible information about your environment and problem.

This question is so generic and provides as little information that I can just provide an equally alike answer: via `functions.php`.

[2018-04-24 23:39] pattonwebz commented on #660
@3derbauer are you looking for a method to install `datatables.js` though a package manager like NPM and then have it copied into the theme automatically by the gulp scripts in the theme?

That would not be a huge change to the theme code but I don't think it is a change that would ever make it's way into the main theme repo.

[2018-04-24 23:49] Thomas-A-Reinert commented on #660
From my experience I can tell you: It won´t ;)

 @3derbauer : Quick solution for a _static_ solution.
Copy that script into `./understrap/js`. Take a peep into `./understrap/inc/enqueue.php` and enqueue your script as desired, for example: 		`wp_enqueue_script( 'datatables-js', get_template_directory_uri() . '/js/datatables.js', array(), $theme_version, true);`

within the 	`function understrap_sc

[2018-04-24 23:51] Thomas-A-Reinert commented on #660
I´ll be closing that one for housekeeping as any neccessary information seems to be provided and no information about the problem provided.

[2018-04-24 23:51] #660 closed

[2018-04-25 00:35] pattonwebz commented on #570
I can help out with suggestions for WP coding standards and general .org theme best practices. I am in a good position to offer such guidance and an happy to create or review PRs with relation to best practices for WP themes :)

Also maybe I can work on some testing too as I have experience with CI/Travis and with PHPUnit.

[2018-04-25 01:11] Thomas-A-Reinert commented on #570
Maybe I was not sufficiently clear before (I really don´t know if that´s the correct term, but I guess you know what I mean..) - but we (I just **can** speak for myself, but as far as I know the others I hope I can speak for them as well) would really love to welcome you aboard!
And no. That´s not because you´re a theme-reviewer. That´s a surplus but..

- It´s because you [provided _really_ great

[2018-04-25 01:48] #632 closed

[2018-04-25 01:51] Thomas-A-Reinert commented on #632
Closing that issue due to the fact that it became a TOTAL a spin off of  the orginal topic that _may_ have been resolved in the meantime. Feel free to open up another issue that we´re NOT going to hijack this time, okay?

[2018-04-25 05:39] typeplus commented on #646
@shansmith01 I asked about uncss a few months ago and got it working but it is quite bespoke and isnt at all accurate. I found it would remove things the site actually needed and could never pin down each cause.

[2018-04-25 13:51] axlright commented on #646
I had thought that that uncss would need a list of every page / page template in your project to figure out what css is needed and what isn't. Looking at
[code]
it seems like with a WordPress / php workflow, you'd need to supply the list of fully formed local urls of every page / page template. Doing so isn't so bad - we do that with our Critical CSS workflow - more curious than anything.

Also, I

[2018-04-25 14:29] jaredsnider commented on #646
Would go a long way towards appeasing all the "Bootstrap = Bloat" haters 😁

[2018-04-25 14:40] blachawk commented on #657
Thank you @pattonwebz for breaking down the purpose in an easier to understand way than what I have researched on the web, and also for the honesty on the progression.  Much appreciated.

[2018-04-26 17:07] Giorgos-pl commented on #410
I got the same issue. Thank you very much for your help Sean!

[2018-04-26 18:10] ZacharyElkins commented on #410
Are you using the latest Understrap parent theme? This should have been fixed here:
https://github.com/understrap/understrap/commit/a068183c08a1e0533b0abc4bf9d2241a9898d4ee

[2018-04-26 20:48] 0dp commented on #631
Ohh damn, I forgot I was writing this up. I'm off tomorrow hopefully I can finish up a test

[2018-04-29 19:09] ZacharyElkins opened #663 "Pagination throws error"
Please delete anything that does not apply for you!

## Issue is about..
  - [ ] a Bug Report

## Please tell us about your environment:

  - **WordPress Version:** 4.9.x
  - **OS Version:** [ Windows 10]
  - **Browser:** [ all ]
  - **Language:** [ PHP ]

---

# Issue Overview for Bugreports
Pagination gives arror of "Invalid argument supplied for foreach() in LINE 40"

## Steps to reproduce?
Use

[2018-04-29 20:11] 0dp commented on #663
So I don't know if WooCommerce has any effect on the pagination, but you said that WooCommerce uses its own breadcrumbs. Maybe it's the same for pagination?

What happens if you disable WooCommerce?

I have the pagination working just fine in my end on my UnderStrap development site with WooCommerce activated.
<img width="757" alt="screen shot 2018-04-29 at 21 55 05" src="https://user-images.githu

[2018-04-30 10:59] breath-ee commented on #624
- OSX 10.11.6 - _EL Captain_
- Homebrew 1.6.2
- Homebrew/homebrew-core (git revision 0f322; last commit 2018-04-30)
- Apache/2.4.33 (Unix) OpenSSL/1.0.2o PHP/7.1.14  (stable 7.2.5 (bottled))

Ran from within the understap theme folder:

`sudo npm rm -g gulp`

`sudo npm install -g gulp-cli`

`gulp -v`

Final output:

All working. Despite the jQuery error.

Adding "jquery": "^1.9" to the package.jso

[2018-04-30 11:01] pattonwebz commented on #624
@breath-ee jQuery is bundled directly with WordPress. Understrap calls it in as a dependency when enquing the main bootstrap javascript file so is available when needed :)

[2018-04-30 11:01] Thomas-A-Reinert commented on #624
It´s already bundled and enqueued by default by WordPress. All good - no need to add/change anything.
Please try - do _not_ add jQuery to  the package.json, and try if it works..

[2018-04-30 11:06] Thomas-A-Reinert commented on #624
Oh seems @pattonwebz was a bit faster. Anyway: Statement confirmed ;)

[2018-04-30 11:59] breath-ee commented on #624
Doh totally forgot about that! There must be a way to suppress that npm message.

[2018-04-30 12:11] 0dp commented on #624
@not really and you shouldn't.

best way to sort it is to add jquery as a peer dependency to the projects package.json

[2018-04-30 12:16] breath-ee commented on #624
As an update I just tried a fresh git clone, ran `npm install` and got the same errors before trying the gulp re-install as outlined above.

- WordPress v4.9.5
- OSX 10.11.6 - EL Captain
- FireFox 59.0.2
- npm v5.6.0
- Homebrew 1.6.2
- Homebrew/homebrew-core (git revision 0f322; last commit 2018-04-30)
- Apache/2.4.33 (Unix) OpenSSL/1.0.2o PHP/7.1.14 (stable 7.2.5 (bottled))

Not sure if this is b

[2018-04-30 12:17] 0dp commented on #624
I just want to inform everyone, that the real deprecation warnings has to do with gulp v3.9 in order to kill those gulp-cli, local gulp needs to be upgraded to latest. Package.son needs to be upgraded with newest deps. Deprecated packages needs to be replaced. Finally gulfile.js needs to be upgraded.

Feel free to test my gulp4 branch

[2018-04-30 19:28] 0dp commented on #562
Closing this, as it seems resolved

[2018-04-30 19:28] #562 closed

[2018-05-01 13:57] pcarter13 opened #664 "Reinitialising scripts after ajax call"
I am using the jQuery .load() function to access page content without a refresh (not the depreciated .load, the ajax one). However, all my scripts get lost on the ajax call – as expected.

As all the JS is compiled into one file through Gulp, I was wondering if there's an easy way to call and reinitialise the whole file?

[2018-05-01 14:01] Thomas-A-Reinert commented on #194
I guess most translation should be done right now but cannot really confirm.

However, closing issue due to inactivity for more than one year. Feel free to reopen.

[2018-05-01 14:01] #194 closed

[2018-05-01 14:02] Thomas-A-Reinert commented on #114
As we´re currently working on it with high pressure after the release of final Bootstrap4, closing this issue. Feel free to reopen.

[2018-05-01 14:02] #114 closed

[2018-05-01 14:08] #436 closed

[2018-05-01 14:09] Thomas-A-Reinert commented on #401
Should be fixed by now, right? According to my own experience everything works as expected..

Closing issue due to inactivity. Feel free to reopen.

[2018-05-01 14:09] #401 closed

[2018-05-01 14:10] Thomas-A-Reinert commented on #395
Closing issue due to inactivity. Feel free to reopen.

[2018-05-01 14:10] #395 closed

[2018-05-01 14:11] Thomas-A-Reinert commented on #385
Closing issue due to inactivity. Feel free to reopen.

[2018-05-01 14:11] #385 closed

[2018-05-01 14:17] Thomas-A-Reinert commented on #497
This should do the job: https://stackoverflow.com/a/47417389

Closing issue due to inactivity. Feel free to reopen.

[2018-05-01 14:17] #497 closed

[2018-05-01 14:25] Thomas-A-Reinert commented on #320
As we reworked the sidebar handling some time ago and didn´t see any issues about that in the past months, I guess this issue has been solved by now.

Closing issue due to inactivity. Feel free to reopen.

[2018-05-01 14:25] #320 closed

[2018-05-01 14:31] Thomas-A-Reinert commented on #311
I guess that´s one is solved then, right?

Closing issue due to inactivity. Feel free to reopen.

[2018-05-01 14:31] #311 closed

[2018-05-02 10:30] 0dp commented on #631
^^^^WOOP WOOP^^^^
Please test this, but it seems to work smooth as butter.

Had to close the other PR cuz it was a sloppy mess

[2018-05-03 10:30] raisonon commented on #525
@IrtezaAsadRizvi Just tried your solution on a new site - but no luck. I tried adding to the .wrapper of the main page.

Any possibility you can feedback where to add this when using a default understrap page template. In my example I am looking at the 404 page (but have removed the search functionality, so it is not a page with much height).

Thanks

[2018-05-03 10:33] raisonon commented on #525
The following code works with understrap using @IrtezaAsadRizvi example. I'll put in a pull request for this -- anyone else think good idea? Ta

`body {
	height: 100vh;
}

.site {
	min-height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
`

[2018-05-03 12:31] cqbent commented on #491
Getting same issue as Ostendorf when trying to install via npm. Using:

- MacOS 10.11.8
- Node 8.11.1
- npm 5.6.0

[2018-05-03 14:30] 0dp commented on #491
Hey Y'all,

If you navigate to `node_modules/understrap/` and run `npm install` you'll see that everything works as expected. Deps are being installed, and `gulp copy-assets` is run without error.

Installing the theme with `npm i understrap` "installs" the theme as a project dependency. So if you haven't created a project with `npm init` first, then this is expected output.

The "problem" here is

[2018-05-03 19:13] ZacharyElkins commented on #646
@jaredsnider I've submitted a PR to address this issue.
https://github.com/understrap/understrap/pull/667

It uses the individual JS files provided by Bootstrap in their `js/dist` folder.

The thing to note here is that these files are already compiled to be used individually, which means a little extra code in each module.

The alternative way of doing this is using Babel/Rollup to compile the in

[2018-05-03 20:47] 0dp commented on #646
Interesting idea.
Personally, I think you should hold back the Babel/rollup version. If we are supposed to support ecma2015+ looking forward, there is all of the sudden a lot of stuff we can and should update and implement, refactor and so on. I'm welcoming the idea though :)

[2018-05-03 20:52] 0dp commented on #664
getScript() maybe?

[2018-05-04 00:34] pattonwebz commented on #664
Could another solution be to only replace part of the content currently on the page with part of the same part on the fetched page? For example #main -> #main but leaving header and possibly the footer intact?

Is there a reason that method would not be viable?

[2018-05-04 06:37] 0dp commented on #664
It should be possible.
There is plenty of resources out there to get you started with Ajax in WordPress. If I were you I would check out some general and WordPress specific tutorials about Ajax. There are also free themes you can checkout and investigate how they implemented the solution.

[2018-05-04 09:45] MrkKr commented on #331
I have same problem as @robwakeman

[2018-05-04 09:59] 0dp commented on #331
@MrkKr please provide more info by filling out the form below:
[code]

[2018-05-04 10:10] MrkKr commented on #331
Issue: After make changes in scss files browser is not reload
WP: 4.9.5
OS: Win10
Browser: Chrome 67
PHP 7.2.4 (in local)
Node - 8.11.1
Gulp CLI - 2.0.1
NPM  - 5.6.0

I install understrap and all dependencies by 'npm install'.
All works fine apart css (.scss) sync files. If I make changes in .scss file, there are minify properly, but browser is not reloading.
Earlier, I worked on this same project

[2018-05-04 10:29] 0dp commented on #331
and you are executing `gulp watch-bs`
Have you also changed `proxy` in gulpconfig.json:3?

[2018-05-04 10:37] MrkKr commented on #331
@0dp Yes, I run gulp by watch-bs. I changes proxy in JSON to "proxy": "localhost/NAME/". Everything sync ok (include JS), apart from css files. I have to refresh manually.

[2018-05-04 10:53] 0dp commented on #331
gotcha!

It's a really hard problem to wrap my head around; hope you understand.
There is no real consistency in how this issue manifest it self. You and @robwakeman have this issue across different OS and different versions. I myself can't reproduce the issue at all.

Could you try and copy this `gulpfile.js` into your project and see if anything changes?

[2018-05-04 10:57] MrkKr commented on #331
@0dp no problem, I understand, that its strange.
gulpfile.js code:
`// Defining requirements
var gulp = require( 'gulp' );
var plumber = require( 'gulp-plumber' );
var sass = require( 'gulp-sass' );
var watch = require( 'gulp-watch' );
var cssnano = require( 'gulp-cssnano' );
var rename = require( 'gulp-rename' );
var concat = require( 'gulp-concat' );
var uglify = require( 'gulp-uglify' );
var me

[2018-05-04 11:50] 0dp commented on #331
@MrkKr So it worked, by changing out the gulp file?

[2018-05-04 11:52] MrkKr commented on #331
@0dp no, it still doesn't work.

[2018-05-04 11:54] 0dp commented on #331
Can I get you to test on a fresh wordpress with a fresh clone of understrap?
We need to eliminate as many variables as possible

[2018-05-04 12:08] MrkKr commented on #331
I am working now on the latest Understrap version. I haven't changed anything in gulpfile.js

[2018-05-04 16:45] MrkKr commented on #331
@robwakeman Have you managed with this problem?

[2018-05-04 16:52] Katreque commented on #449
@CoaPsyFactor Same here. Trying to setup in electron in the right order, but still facing the same problem.

[code]

[2018-05-04 17:53] robwakeman commented on #331
@MrkKr My issue is still as described as in my comment on [Mar 29](https://github.com/understrap/understrap/issues/331#issuecomment-377201288).

I'm not sure if your issue is slightly different from mine. If I make an edit in the SCSS
the changed CSS is correctly injected into the browser. But, if I then make an edit in a PHP template, the latest CSS change is lost. I then have to hard refresh onc

[2018-05-04 18:04] 0dp commented on #331
Ghost in the fucking machine right about now 😬

[2018-05-04 18:06] MrkKr commented on #331
@robwakeman yes, you are right, my issue is not same as you, but similar.

[2018-05-04 19:40] 0dp commented on #331
There was nothing that cought my attention sorry

[2018-05-05 07:59] 0dp commented on #663
Could you provide output from php error.log to back that up?

If you read this thttps://codex.wordpress.org/Function_Reference/wp_parse_args
and look at understrap_pagination parameters, we've actually made `understrap_pagination` it pluggable by using wp_parse_args.

so calling
[code]
Would create the pagination with custom previous and next arrows.

Could you provide some code of what you've tri

[2018-05-05 22:48] ZacharyElkins commented on #663
I’m going to run some tests on a fresh understrap install to check it.

I’ve been pretty busy lately so it may take some time.

[2018-05-06 08:29] 0dp commented on #663
Cool, because I can't reproduce the issue you're describing

[2018-05-06 09:12] fadetia opened #669 "how to make navbar bootstrap into a megamenu"
hello, i want is it capable to create megamenu from bootstrap navbar that used in understrap?

## Issue is about..
    - [✓ ] a Question

[2018-05-06 09:55] 0dp commented on #669
are you asking if the theme has a built-in mega menu, or if it's possible to create one with bootstrap?

[2018-05-06 10:58] fadetia commented on #669
built-in mega menu actually, i was trying to convert bootsrap nav menu into
wordpress using wp bootstrap 4 navwalker it works well,  but i have no idea
how to creating mega menu with it

On Sun, May 6, 2018, 4:55 PM Johan Nielsen <notifications@github.com> wrote:

[2018-05-06 12:01] karo1915 commented on #449
@CoaPsyFactor @Katreque

You can try this solution for Electron + Bootstrap:

`console/terminal`
[code]

example `package.json`:
[code]

example `app.js`:
[code]

example `main.html`:
[code]

example `main.js`:
[code]

`console/terminal`
[code]

let me know if it is working for you :)

[example (after adding bootstrap navbar)](https://prnt.sc/jedp7n)

[2018-05-06 13:15] 0dp commented on #669
Ok, so there is no built-in mega menu in UnderStrap. But with some extra css and maybe a few additional classes in the Walker you should be able to achieve the desired mega menu

[2018-05-06 13:37] pattonwebz commented on #669
I've tried in the past to make a full featured mega menu with this walker and I have struggled to make it work with certain aspects like images and descriptions in any real scalable way.

It's needs additional CSS, JS and some tweaks to internal functions of the navwalker.

That being said I would love to help create an extension for the walker than can provide everything needed for such a menu.

[2018-05-06 13:37] fadetia commented on #669
@axlright thank you, it's a perfect solution for me

[2018-05-06 13:37] #669 closed

[2018-05-09 06:16] DUGeCommerce opened #670 "German localisation"
## Issue is about..
  - [x ] a Question
  - [x ] I need help

## Please tell us about your environment:
  - **WordPress Version:** 4.9.5
  - **OS Version:**  Windows 10
  - **Browser:** [ all ]
---

Hi. I have a little problem.

I build a German WP-site. The WP installation is in German (BE) but in the FE it is in English. For Example: "**Posted on** Mai 7, 2018 (Mai 7, 2018) **by** xyz".
A search

[2018-05-09 08:29] 0dp commented on #670
Hey @DUGeCommerce, iterrestion enough I just checked on a fresh UnderStrap and the frontend is being translated correctly:  Veröffentlicht am März 23, 2018 (März 24, 2018) von admin

What version of UnderStrap are you using?
Is the language folder present in the theme folder at the moment?

[2018-05-09 15:35] BenAttenborough commented on #552
I've noticed that pagination with dots is broken, in that it doesn't take into account the ellipsis when working out the page number on the pagination:

![screen shot 2018-05-09 at 16 28 15](https://user-images.githubusercontent.com/8101421/39823941-0804318e-53a6-11e8-9852-0922381737ad.png)
(understrap_pagination() above, paginate_links() below)

The ellipsis above represent both 2 and 3, but the

[2018-05-09 16:37] rubberduckyint opened #671 "Fatal error: Call to undefined function understrap_excerpt_with_length()"
## Issue is about..
 a Bug Report

## Please tell us about your environment:
Fresh install wp, just download fresh version of both themes

Getting this error on the core understap theme

local dev on win 10 with wamp latest install
 Fatal error: Call to undefined function understrap_excerpt_with_length() in C:\wamp\www\dlp\wp-content\themes\core-understrap-1-0-7\loop-templates\content-card-simple.

[2018-05-09 17:05] BenAttenborough commented on #552
Something like this would seem to work?

[code]

It feels a little messy but seems to work

[2018-05-10 00:28] 3derbauer opened #672 "Sidebar not responsive?"
Hello, i have problems with the sidebar. Why the sidebar is on outside from Content and not under? And why the row class not working for table colums with Chrome and Opera. With Firefox  the col Class for colums are working.   Sorry for my bad english.
<a href="http://www.directupload.net/file/d/5083/pbq96cos_png.htm" target="_blank"><img src="http://fs1.directupload.net/images/180510/temp/pbq96co

[2018-05-10 02:37] tonga73 commented on #672
habrás modificado alguna clase pq por defecto no funciona así el sidebar.

lo mismo con el row, asegúrate de que está dentro de un container (full o fluid), y en todo caso a modo de prueba agregale la clase "no-gutters" al row y si se te soluciona es porque algún margin o padding que agregaste está modificado los espacios. asumo que hablas español no se pq jaja de

pd. im assuming you speak spanis

[2018-05-10 02:46] ZacharyElkins commented on #672
@3derbauer  You're referencing this page:
https://understrap.com/understrap/?page_id=155

Are you using any content blocking apps? Ad blocking or possibly script blocking?

I know that Opera has multiple options to "speed up" websites, which generally means messing with content on the site. Please make sure this stuff is disabled for testing, and that your browser apps are up to date.

I doubt thi

[2018-05-10 02:50] ZacharyElkins commented on #646
@0dp This is my thinking as well. It is quite a lot of extra to add for one feature, although quite a great feature.

[2018-05-10 08:13] digitaloutback opened #673 "Using variables from the original _variables"
For example, I want to overwrite the `$body-color` variable to `$gray-700` but I'm getting:

`Error: Undefined variable: "$gray-700"`

What's the proper way to have access to these variables?

[2018-05-10 09:38] 0dp commented on #671
Hey @rubberduckyint
Just to verify, you do have the parent theme installed as well?

[2018-05-10 09:39] 3derbauer commented on #672
Yes, i´m from Germany.
My Screenshots are from the Demosite with my Android Browser.
https://understrap.com/understrap/?page_id=1133

No ad blocking or possibly script blocking.
I mean, it is a Problem from the template and not from the browser. On all Pages from the Understrap Demo site i have the Problem. The Sidebar is outside from Content / Browser View.

[2018-05-10 13:05] rubberduckyint commented on #671
Yes of course

On Thu, May 10, 2018, 2:38 AM Johan Nielsen <notifications@github.com>
wrote:

--

*David Jina*
Ceo and Founder,
Rubber Ducky Interactive <http://rubberduckyinteractive.com>
310-765-4301 | M 310-902-3069 <310-902-3069>  8055 W. Manchester Ave #460
Playa del Rey CA 90293
<http://www.linkedin.com/in/david-jina-302b7a64/>

[2018-05-10 13:12] axlright commented on #673
@digitaloutback In agreement with @ShariqKhan2012

If you want to reference Bootstrap variables in your ` _theme_variables.scss` then you'll need to re-declare them above the line where you're referencing the variable. The other solution is to move your `@import "theme/custom-variables";` lower down (below `@import "assets/bootstrap4";`) in your `child-theme.scss` but this isn't recommended since

[2018-05-10 15:03] Behan2 commented on #490
Hello, I'm experiencing an issue where the billing fields on the checkout page are extremely small and un presentable. Is there anyway to stretch out the size of these fields?

[2018-05-10 15:42] 0dp commented on #671
I'm sorry I can't help then. Core is a premium theme

[2018-05-10 18:28] ZacharyElkins commented on #673
@axlright wouldn’t it be possible to take the variables file import out of sass/assets/_bootstrap4.scss and put it into the main sass/theme.scss file?

Then you could load the variables before your variable overwrite file. As bootstrap variables have the default flag they will be overwritten either way.

[2018-05-10 18:54] pattonwebz commented on #673
The variables.scss file can be included inside both the bootstrap stylesheet and the main site stylesheet before theme variables. I've done that in a different theme with no issues :)

You can also import the mixin file as well and use it inside of the theme stylesheet for making b additional button colors etc.

[2018-05-10 22:49] Thomas-A-Reinert commented on #673
All above posted solutions from @ShariqKhan2012 , @axlright , @ZacharyElkins and @pattonwebz will resolve the issue. It´s up to you to decide which one suits you best. I´ll close this, because it ain´t an "issue" anymore, okay? Feel free to reopen if you have any remaining issues or post your experiences to this topic, okay?

[2018-05-10 22:49] #673 closed

[2018-05-10 23:00] Thomas-A-Reinert commented on #672
Thanks for jumping in @tonga73  (sorry I don´t understand spanish) and @ZacharyElkins  - i´ll take over from now as a native german speaker ;)

Hi @3derbauer - ich helfe dir gerne. Kann allerdings dein problem nicht ganz reproduzieren. Hab Deinen letzten Link (Id=1133) aufgerufen und kann unter Chrome mit Dev-Tools nur folgende Ansicht reproduzieren:
![image](https://user-images.githubusercontent.

[2018-05-10 23:18] Thomas-A-Reinert commented on #670
thx @0dp for trying to satisfy the german community - i been to busy for the past few days ;)
But I guess it´s gonna be easier if i´ll take over..

Hallo @DUGeCommerce
Zunächst einmal: ich kann das Problem auch nicht reproduzieren, da ich zuletzt Änderungen am deutschen Lang-File vorgenommen und es ausführlich getestet habe.

Siehe Screenshot:
![image](https://user-images.githubusercontent.com/588

[2018-05-11 07:18] rubberduckyint commented on #671
I bought core.  That is the theme I am having the issue with

On Thu, May 10, 2018, 4:03 PM Thomas A. Reinert <notifications@github.com>
wrote:

--

*David Jina*
Ceo and Founder,
Rubber Ducky Interactive <http://rubberduckyinteractive.com>
310-765-4301 | M 310-902-3069 <310-902-3069>  8055 W. Manchester Ave #460
Playa del Rey CA 90293
<http://www.linkedin.com/in/david-jina-302b7a64/>

[2018-05-11 07:19] rubberduckyint commented on #671
I bought it from your website

On Fri, May 11, 2018, 12:18 AM David Jina <david@rubberduckyinteractive.com>
wrote:

--

*David Jina*
Ceo and Founder,
Rubber Ducky Interactive <http://rubberduckyinteractive.com>
310-765-4301 | M 310-902-3069 <310-902-3069>  8055 W. Manchester Ave #460
Playa del Rey CA 90293
<http://www.linkedin.com/in/david-jina-302b7a64/>

[2018-05-11 15:55] 0dp commented on #671
@rubberduckyint
UnderStrap is a Open Source project hosted on github
Core is a premium theme that @holger1411 owns. You need to refer to the support guidelines for the Core theme

[2018-05-11 16:03] 0dp commented on #552
Just referencing #663

[2018-05-11 16:33] mickeydblv commented on #594
I'm very interested in the solution for this error. I'm using understrap and Scout-app for compiling. I am a bit of a noob with SASS and all that, but been building sites with underscores for a few years. Not building in a child theme.

I changed the variable name in _variables.scss to make the change
From: $grid-gutter-width:      30px !default;
To:     $grid-gutter-width-base:      30px !default

[2018-05-11 16:53] 0dp commented on #552
Hey @BenAttenborough

Yeah you're right, and also it counted the prev and next arrows as part of the pages.
I couldn't get your code to produce a different result from the current.

But could I get you to try this instead?

[code]

[2018-05-11 19:03] BenAttenborough commented on #552
Yes that works, although you no longer need the $i variable since it is no longer used. I might hazard to tidy it up like this:
[code]
Thanks!

[2018-05-11 19:54] 0dp commented on #552
#668

[2018-05-12 15:05] ShariqKhan2012 opened #674 "The background color setting in the customizer does not work in some cases"
## Issue is about..
  - [ ] a Bug Report

## Please tell us about your environment:

  - **WordPress Version:** 4.9.5
  - **OS Version:** Windows 7
  - **Browser:** [ Chrome 66.0.3359 ]
  - **Language:** [ PHP | CSS]
  - **Node.js & NPM Versions:** Node.js [6.10.3] | NPM [5.3.0]

---

# Issue Overview for Bug reports
The background-color setting  (Customizer->Colors) does not seem to work if the d

[2018-05-12 15:34] afragen opened #675 "GitHub Theme URI should point to current repo"
In the `style.css` headers, the `GitHub Theme URI` should point to this repository. So it should be `GitHub Theme URI: understrap/understrap`

It works because GitHub does the redirect, but I’m not sure I’d count on it long term.

[2018-05-12 21:46] Thomas-A-Reinert commented on #675
Yes, you´re absolutely correct. The link points to the old repo. Fixed this and some other misleading URI´s too.

[2018-05-12 21:46] #675 closed

[2018-05-14 13:36] DUGeCommerce commented on #670
Hallo Thomas.

- WP 4.9.5 -> **Multisite** Installation (mit zwei Seiten)
- "understrap 0.8.2" (Parent)
- und in jeder Installation als Child "understrap 0.5.2"
- alle understrap-Pakete habe ich direkt "von hier" heruntergeladen (ca. drei Wochen)
- der language-Ordner ist im Parent-Theme vorhanden, jedoch nicht in den Childs (was ja korrekt ist)

DUGeCommerce = DUG (Abkürzung für eine Würzburger F

[2018-05-14 23:50] Thomas-A-Reinert commented on #670
Hi @DUGeCommerce ,

das sind schon mal ein paar wichtige Infos, mit denen ich arbeiten kann.

- understrap 0.8.2 - ist schon einmal gut. Auch wenn wir dort ohne neue Versionierung _einiges_ getan haben. Es würde nicht schaden, da die neueste Version runterzuladen und die von euch runtergeladene dadurch zu ersetzen, insofern ihr daran keine Änderungen vorgenommen habt.
- understrap-child 0.5.2 - Nu

[2018-05-15 09:59] DUGeCommerce commented on #670
Hallo Thomas.

Kein Problem, spiele das "Test-Kaninchen" - ich muss ja keine Karotte essen!

Aber.... **ich habe das Problem gefunden**:

- **Einstellungen**, **Allgemein** "**Sprache der Webseite**"
- hier war "**Deutsch (Sie)**" ausgewählt! **Die Umstellung auf "Deutsch"** hat die Anzeige im FE korrekt lokalisiert

Es lag somit **nicht** an einem veraltetem Code-Stand - der aber tatsächlich vorl

[2018-05-15 10:02] DUGeCommerce commented on #670
Noch ein Nachtrag:

- Deutsch (Schweiz)
- Deutsch (Schweiz, Du)

....lokalisieren ebenfalls in Englisch. Wohl dann das gleiche Problem wie Deutsch (Sie)

[2018-05-15 12:52] Thomas-A-Reinert commented on #670
Oh, guter Hinweis und danke fürs Testen! Habe ich ehrlich gesagt noch nie versucht :)

Für die deutsche Übersetzung mit "Sie" muss das language-file `de_DE_formal.mo` heißen, wie ich grade herausgefunden habe. Sollte die aktuelle Übersetzung also noch die Du-Form nutzen, einfach eine Kopie der existierenden deutschen .pot anlegen, umbenennen und nach "Du" suchen und die Strings anpassen. Anschließ

[2018-05-15 12:52] #670 closed

[2018-05-15 14:19] DUGeCommerce commented on #670
Danke Thomas! Spitzen support! Da ich das jetzt weis - ich bleibe beim DU in WP.

[2018-05-15 18:29] staceycordoni commented on #490
Also have this issue

[2018-05-15 19:12] staceycordoni commented on #490
It's with stripe payment gateway specifically. Here's a screenshot:
https://d.pr/i/wmdQVt

I found a work-around, by checking off "Inline Credit Card Form" in the stripe settings, eg:
https://d.pr/i/DwyOHB

[2018-05-15 19:40] 0dp commented on #490
I never thought of this as a theme bug(maybe it is), but I think I fixed it by giving all the fields a width of 100%

[2018-05-16 07:36] 0dp commented on #663
@ZacharyElkins there is a new version of the pagination

[2018-05-16 13:54] Thomas-A-Reinert commented on #670
Immer gerne, @DUGeCommerce . Formale Deutsch-Variante ist jetzt übrigens auch verfügbar.

[2018-05-16 21:55] Thomas-A-Reinert commented on #672
No Feedback within a week, so I´ll close this. Feel free to reopen.

[2018-05-16 21:55] #672 closed

[2018-05-16 22:54] Thomas-A-Reinert commented on #663
Works perfectly for me now..

[2018-05-18 09:31] glur4k commented on #470
same for me.
wordpress 4.9.6;
understrap 0.8.2

[2018-05-18 18:00] BobTokyo opened #679 "updating to version 0.8.2 broke my site"
Please delete anything that does not apply for you!

## Issue is about..
 - [ ] a Question
  - [ ] I need help

## Please tell us about your environment:
  - **WordPress Version:** 4.9.6
  - **OS Version:** Windows 8.1
  - **Browser:** Chrome and FireFox
  ---

# Issue Overview for Bugreports
Updated understrap to version 0.8.2 and now complete wordpress site is down

## Steps to reproduce?
Update

[2018-05-18 18:04] #679 closed

[2018-05-18 18:37] 0dp commented on #674
I am unable to reproduce the issue.

Please check the source in the browser.

You should see **WordPress** have included something like
[code]
just before the closing head tag `</head>` as such the included inline script should override theme.min.css.

The theme actually does not handle the background color in the customizer, it's a built-in WP feature 😄

[2018-05-18 21:16] BobTokyo commented on #552
Don't know if this is related, but today I updated to the new 0.8.2 version.  Immediately my site broke ... the only thing that I could render in both the front and back end was:
Parse error: syntax error, unexpected '[' in /home/content/93/10104893/html/successjp/wp-content/themes/understrap/inc/pagination.php on line 9
I haven't updated the theme in awhile so what I was using was 0.6.6.
Luckily

[2018-05-18 22:11] nachoumaran opened #680 "[Browsersync] Reloading Browsers..."
Browsersync keeps Reloading Browsers and dont show content, please some help

[2018-05-19 07:48] 0dp commented on #680
@nachoumaran could you please close this issue and create a new one and follow the guidelines.

[2018-05-19 07:59] 0dp commented on #552
@BobTokyo could you please post the lines 6-11 from understrap/inc/pagination.php please?
Also try and change `$args[ ],` to `$args,` on line 10?

[2018-05-19 09:29] 0dp commented on #663
@ZacharyElkins whats up?

[2018-05-19 12:35] ShariqKhan2012 commented on #674
Thanks for checking it out. But the issue(?) is still reproducible. Perhaps I was not able to specify the steps clearly. I will give it a try again.

1. Override `$body-bg` in _theme_variables.scss. Set it to anything other than `#ffffff`
`$body-bg: #F6FAF8;`
This step is very important. The issue is **not** reproducible without this step.
I will explain this later why this step is so important.

[2018-05-19 18:12] #680 closed

[2018-05-19 18:25] nachoumaran opened #681 "browser sync Stuck at Reloading Browsers..."
## Issue is about..
  - [ ] I need help

## Please tell us about your environment:

 * WordPress Version: 4.9.6
* OS Version:high sierra 10.13.4
* Browser: Chrome 66.0.3359.181
* Language: [ PHP | CSS]
* Node.js & NPM Versions: Node.js [6.10.3] | NPM [5.3.0]

---

Issue Overview for Bug reports
browser sync keeps Reloading Browsers... and dont show server
Steps to reproduce?
1. Install Browser-Syn

[2018-05-19 22:34] 0dp commented on #674
Thank you so much for your very thorough description. I am currently in the process of consuming large quantities of alcohol, So I will get back to when I'm not shit faced. ❤️

[2018-05-19 22:36] 0dp commented on #674
Why am I on GitHub now???

[2018-05-19 22:56] Thomas-A-Reinert commented on #674
This is a high-potential for becoming on of the best answers on github _ever_ :)

Anyway: @ShariqKhan2012  this is becoming a _bit_ too lengthy for me to read through everything, still it´s one of the most detailed descriptions, we ever got and we all really appreciate that! But i really just browsed over it and came to the bottom line that read _Kindly feel free to close it as it is a non-issue._

[2018-05-19 23:49] Thomas-A-Reinert commented on #502
Well, if you use understrap as a starter theme and build up on that - that´s your way to go. but from that point on it´s all your own problem how to maintain it.

if you want to keep it maintainable better go with a child theme.

[2018-05-19 23:49] #502 closed

[2018-05-19 23:49] #452 closed

[2018-05-19 23:50] #419 closed

[2018-05-19 23:52] Thomas-A-Reinert commented on #397
Core is a premium / paid (child) theme (based on understrap). Please contact the service mentioned when closing the contract, in your readme or whatever. Or contact @holger1411 directly who is responsible for CORE.

This issue tracker is however just about the free parent theme only.

[2018-05-19 23:52] #397 closed

[2018-05-19 23:53] #381 closed

[2018-05-19 23:53] Thomas-A-Reinert commented on #350
MUST work by now. Closing this issue.

[2018-05-19 23:53] #350 closed

[2018-05-19 23:57] Thomas-A-Reinert commented on #331
This issue seems to get a bit diffuse with several issues getting mingled up. I´ll close it for housekeeping therefore.

If the issue persists. please open up another issue using our issue-template.

[2018-05-19 23:57] #331 closed

[2018-05-19 23:58] Thomas-A-Reinert commented on #242
Can´t replicate. To my knowledge the latest spanish files are already merged.

[2018-05-19 23:58] #242 closed

[2018-05-20 00:07] Thomas-A-Reinert commented on #203
That´s totally cool with me, @holger1411 .

Only problem I see spawning in this issue tracker about one and a half year later: people tend to post within this or the child-theme´s issue tracker if they have any problem with the CORE theme etc.

We - "team understrap" - only support the free, open-source version. And when we mention that, your customers don´t seem to be too amused nor are we when t

[2018-05-20 00:07] #203 closed

[2018-05-20 00:11] Thomas-A-Reinert commented on #71
Hey @holger1411  last one seems - to me - a try to abuse. Could we PLEASE close this issue?
It´s not an issue anyway and we should try to keep it focussed on issues..

Please do so if you find the time. If i ´ll get no reply within time i´ll do it..

[2018-05-20 00:13] #523 closed

[2018-05-20 00:13] #521 closed

[2018-05-20 00:14] Thomas-A-Reinert commented on #514
Imho that should´ve been fixed right now, can you confirm?

Closing this issue for housekeeping, please reopen if the problem remains, okay?

[2018-05-20 00:14] #514 closed

[2018-05-20 00:30] Thomas-A-Reinert commented on #583
I don´t see the need to further discuss this openly since we have an internal solution. The whole topic didn´t receive any responses anyway recently. Besides .. "_that expert opinion_"

[2018-05-20 00:30] #583 closed

[2018-05-20 00:32] Thomas-A-Reinert commented on #574
German formal and informal translations are already complete right now.
The whole topic per se has been internally discussed also.

The official translation project has also been started so i´ll close that for now.

[2018-05-20 00:32] #574 closed

[2018-05-20 00:37] Thomas-A-Reinert commented on #570
@holger1411 - would you please add @pattonwebz to the "Accessibility & Quality" and "Watercooler Team" at least? I´ll close that issue for now, because that should be an internal rather than an openly accessible issue..

[2018-05-20 00:37] #570 closed

[2018-05-20 00:38] Thomas-A-Reinert commented on #570
@pattonwebz - Sorry, I cannot add you to any group afaik. That´s up to the project maintainer.

[2018-05-20 00:41] Thomas-A-Reinert commented on #567
Can confirm that this _should_ be resolved if I got all of it correct.

One-level Menus work.
Two-level Menus work with depth =>2 set.
Sub-Submenus (third level menus) don´t work. Needs additional CSS. We´ll adress that in our upcoming  documentation.

Closing this issue for now as the original issue has been resolved with one of the latest releases.

[2018-05-20 00:41] #567 closed

[2018-05-20 00:47] Thomas-A-Reinert commented on #564
Closing it due to the fact that it´s related to the (commercial) CORE child-theme (sold by @holger1411 ).

Note to you who posted any problems: This issue-tracker is about the PARENT theme only. And PLEASE DO NOT post to the child-theme either - they´re both about the open-source, non-commercial versions.

You should have received a notice about support anywhere. Be it in your bill, the included r

[2018-05-20 00:47] #564 closed

[2018-05-20 00:50] Thomas-A-Reinert commented on #552
That issue has definitely been fixed by now - at least according to my really dense testing ;)

So i´ll close that issue.

@BobTokyo I´ll consider your post kinda "issue-highjacking". Please open up your own issue following the issue-template and guidelines, otherwise we cannot help you.

[2018-05-20 00:50] #552 closed

[2018-05-20 00:57] Thomas-A-Reinert commented on #547
We´ll have a tut on how to integrate FA5 pretty soon with our upcoming documentation.

We´d need some guinea pigs to confirm that it works as expected though. Anyone with it?

[2018-05-20 01:04] Thomas-A-Reinert commented on #538
In my opinion that cannot be done, because ALL WP-Templates share the same CSS.

And yes, I TOTALLY feel you - whenever you have a site where miliseconds of loading/rendering time play a role - optimize it! But in 99% of all cases you´ll have small to medium customers and they will never ever know what you´re talking about. And most sure not pay for it. So better leave that out of the "standard De

[2018-05-20 01:04] #538 closed

[2018-05-20 01:05] Thomas-A-Reinert commented on #537
@holger1411 ?

[2018-05-20 01:06] #524 closed

[2018-05-20 01:07] #547 closed

[2018-05-20 04:36] ShariqKhan2012 commented on #674
Ha ha ha, best wishes. You guys are making the best of the weekend, it seems !!

Basically, when someone (read theme developer) needs to change the default background color in his/her theme, they need to do it in 2 places:
1. overriding the bg-color in one of their sass files
2. making a similar change in the call to `add_theme_support('background-color')` in `setup.php`.
making the change in only

[2018-05-20 11:40] axlright commented on #674
Best ticket ever 💯 🥇 👍 🍺

[2018-05-20 17:19] 0dp commented on #674
I still don't understand why I was up in da club checking out GitHub 🤓.

@thomas, hope you cought up and feels just as wrecked as I do 🙈

[2018-05-20 19:39] staceycordoni opened #682 "Stripe input fields for CC payment are unusable"
## Issue is about..
  - [ ] a Bug Report

## Please tell us about your environment:

  - **WordPress Version:** 4.9.6
  - **OS Version:** MacOS 10.13.3
  - **Browser:** all
  - **Language:** PHP

---

# Issue Overview for Bugreports

## Steps to reproduce?

1. Enable Stripe Payment Gateway in WooCommerce Settings
2. Go to front-end of website, add an item to cart
3. Checkout, scroll down to area w

[2018-05-20 21:26] 0dp commented on #537
I got to ask, why would you even use WordPress for the frontend when also using a JS framework for the frontend. I mean, you are already consuming WordPress' content via the rest API. So does a Vue/react/angular WordPress theme then really make sense?

[2018-05-20 21:31] 0dp commented on #682
From the top of my head I believe you can fix the issue by adding width: 100% to the Stipe input fields' css

[2018-05-20 21:39] staceycordoni commented on #682
I've tried this to no avail: https://d.pr/i/bcNhJR

[2018-05-21 02:29] axlright commented on #538
I fully support this issue being closed. For posterity - we documented our [Critical CSS workflow here](https://alexwright.net/web-design-secrets/how-to-use-critical-css/) if anyone wants to take a look. It's a work in progress of course. What isn't!

[2018-05-21 07:54] 0dp commented on #682
[code]

[2018-05-21 08:33] benjaminsmth commented on #682
I had the same issue. You can also fix this in the Woocommerce Stripe Checkout settings by selecting:
Inline Credit Card Form

[2018-05-21 08:48] raisonon commented on #537
Good point @0dp and there are some big advantages to using WordPress 'headerless'; separate the front and back and just use the WP Rest api.

The main advantage to just swap out jQuery with vue.js is going to be speed. Speed to build. Speed to debug. Time saved learning the in's and out's of a new router and suchlike.

I have projects I'm working on that don't justify me to go headerless but would

[2018-05-22 15:12] noelspringer opened #683 "Undefined variable `consent` in `custom-comments.php`"
## Issue is about..
  - [x] a Bug Report

## Please tell us about your environment:

  - **WordPress Version:** 4.9.6
  - **OS Version:** Linux Debian / 9.4
  - **Browser:** Chrome 66.0.3359.117 | Firefox 59.02 64-bit
  - **Language:** PHP 7.0.27
  - **Node.js & NPM Versions:** Node.js [v8.11.2] | NPM [5.6.0]

---

# Issue Overview for Bugreports

Re commit: Added cookies checkbox support for inc/

[2018-05-22 15:43] 0dp commented on #682
I'm not by my computer right now, bit as soon as I sit down I will take a look at what's missing.

[2018-05-22 15:44] 0dp commented on #683
Guess it needs a check if it's set

[2018-05-23 06:03] #681 closed

[2018-05-23 09:13] BenRed82 commented on #681
I'm also experiencing this issue, is there any fix? Thanks!

[2018-05-23 18:05] staceycordoni commented on #682
I'm using the latest version of understrap (untouched) and my results are different than yours. By default, this is what I see:
https://d.pr/i/ElrECu

When I add the following CSS:

`.woocommerce-checkout .StripeElement {

    width: 100%;

}`

The Card Number field still remains small: https://d.pr/i/9vbQ6

Adding !important doesn't change anything either.

[2018-05-23 19:21] benjaminsmth commented on #682
I'm using understrap 0.8, but have installed the woocommerce templates from the latest release into my child theme folder.

I tested this morning in Chrome it worked for the expiration and CVC fields but not for the main credit card number ( getting same error as reported). In Firefox, all the fields were not working.

I will try again later.

[2018-05-23 21:31] 0dp commented on #682
Ok, interesting. I will look into it

[2018-05-23 22:01] 0dp commented on #682
For the card field `.stripe-card-group { 100%; }`

[2018-05-23 22:31] staceycordoni commented on #682
.stripe-card-group { width: 100%; }

Perfect, thank you! :)

[2018-05-23 22:36] staceycordoni commented on #682
This was the final CSS I ended up using, as it's also in the My Account section > Saved Payment Methods:

.stripe-card-group,
.woocommerce-account .StripeElement,
.woocommerce-checkout .StripeElement {
    width: 100%;
}

[2018-05-24 04:17] jonathan-bird opened #685 "Gulp Live Commands for Docs"
## Issue is about..
  - [ ] a Bug Report
  - [x] a Feature Request
  - [ ] a Suggestion
  - [ ] a Question
  - [ ] I need help

## Please tell us about your environment:
N/A

---

### Other Comments
Can you please include in the docs the best commands to run for a live environment on deploy?
E.g. Run `gulp sass`, then run `gulp scripts` etc. Or include a `gulp prod-deploy` command in the gulpfile

[2018-05-24 17:52] benjaminsmth commented on #682
Thanks! That did it.

[2018-05-24 21:15] breath-ee opened #686 "Collapse Search Input field inside NavBar"
- Understrap 0.8.2

Has anyone successfully added the search input to the navbar where it will collapse?

It seems pasting  `<a href="#search" data-toggle="modal" data-target="#exampleModal"><i class="fa fa-search search-icon"></i></a>` before or after `<?php wp_nav_menu() ?>` renders it outside the collapsing div...! So is there a way to get it inside the `'container_class' => 'collapse navbar-co

[2018-05-24 21:45] ZacharyElkins commented on #686
You will need to add the search bar as a `li` item to the `ul` element.

Wordpress provides a way to do this. I encourage you to check this page out:
http://www.wpbeginner.com/wp-themes/how-to-add-custom-items-to-specific-wordpress-menus/
Keep in mind that some of the examples on that page have the `"` and `'` mixed up, which isn't too important. I prefer having `"` for the HTML and `'` for the PH

[2018-05-25 06:58] 0dp commented on #682
What we should try and figure out is,
1. What is causing this in the first place?
1. Does it affect other woocommerce gateways or just stripe?
1. Is it a fix that should be included in the theme?

[2018-05-25 08:06] 0dp commented on #663
OI @ZacharyElkins i know you're here 😃
If you don't get back to me, I can't haz fix.
Otherwise we'll just close this @Thomas-A-Reinert @holger1411 @axlright
and you can reopen if you find anything interesting 👍

[2018-05-25 08:08] 0dp commented on #686
tags: Question, Documentation, Resolved
@Thomas-A-Reinert @axlright @holger1411

[2018-05-25 08:11] 0dp commented on #586
@holger1411
We are working on the documentation for including FA5 into the project. Likewise I will write a small guide on FA4, mostly on how to remove it.

So as of now we are going with Option #1 - Manually, documented in the docs

[2018-05-25 20:37] ZacharyElkins opened #688 "WooCommerce 3.4.0 Template Update"
WooCommerce recently updated their template files. All files which received changes will need to be updated within Understrap. I am already in the middle of this process.

This is to serve as a marker and forum for users which notice the template error's when updating WooCommerce. The updates should take a few days to implement and test.

As an overview, it looks like a lot of changes were based a

[2018-05-25 20:39] ZacharyElkins commented on #663
@0dp I apologize, I've been quite busy lately. This bug was found on a live site, not on a fresh Understrap install. I'm planning to test it out on a clean install, but if no one else is reporting this as an issue you can freely close this issue until I get the time to investigate further.

[2018-05-26 00:19] noelspringer commented on #688
Thanks ZacharyElkins. The checkout **Billing details** form has lost its formatting.

![Billing Details Form - Woommerce-3.4 UnderStrap-0.82](https://user-images.githubusercontent.com/26024890/40570405-dd393118-60cd-11e8-9eb7-0b28f8013311.png)

[2018-05-26 02:34] Thomas-A-Reinert commented on #686
Thx, @0dp - can i close that issue?

[2018-05-26 08:39] 0dp commented on #686
@Thomas-A-Reinert YES SIR!

[2018-05-26 17:38] ZacharyElkins commented on #682
@0dp I’m going to look into any additional templates to include that we may be missing from Understrap. Not 100% sure if the stripe billing is related, but it might be.

Either way I’m trying to test Woo as much as possible for missing support.

[2018-05-26 22:09] #686 closed

[2018-05-26 22:11] Thomas-A-Reinert commented on #685
It´s already in the [upcoming docs](https://thomas-a-reinert.github.io/Understrap-Documentation/docs/0.8.2/development/available-gulp-tasks/). Please don´t bookmark or share the link - the docs will soon move to their final location. This is just a test-setup.

Please let me know if this is clear enough and if you need anything else explained.

Until release some of the tasks may be modified or co

[2018-05-26 22:11] #685 closed

[2018-05-26 22:13] Thomas-A-Reinert commented on #683
Solved with #687

[2018-05-26 22:13] #683 closed

[2018-05-26 22:37] Thomas-A-Reinert commented on #674
Lol, seems that party was going all to well at that time at least or the gals were like.. better check github before I get blind ;)

Yeap, cought up well but actually felt pretty good next day ;)
Had an audit with myself and try to improve today :P

@ShariqKhan2012 - I´ll close this issue for now but mark it for the upcoming documentation. Hope your explanation will find its way in there.

[2018-05-26 22:37] #674 closed

[2018-05-26 23:42] Thomas-A-Reinert commented on #663
Well, closing this for housekeeping then. As always - feel free to reopen if the problem remains!

[2018-05-26 23:42] #663 closed

[2018-05-26 23:44] Thomas-A-Reinert commented on #591
Has this been solved by now? After two months of no replies, I´ll close this issue. Feel free to reopen, if the problem still persists!

[2018-05-26 23:44] #591 closed

[2018-05-26 23:49] Thomas-A-Reinert commented on #586
Will be included with the upcoming documentation. Closing THIS issue for housekeeping as it seems that common consent has been made? Feel free to reopen.

[2018-05-26 23:49] #586 closed

[2018-05-26 23:53] Thomas-A-Reinert commented on #505
No reply for nearly half a year. Closing this issue therefore.

[2018-05-26 23:53] #505 closed

[2018-05-26 23:55] #594 closed

[2018-05-26 23:56] #491 closed

[2018-05-27 10:35] PaoloPgn opened #690 "Remove child-theme.css styles"
Greetings

I see in my child-theme.min.css a lot of elements generated by child-theme.css that I don't need, for instance all the :root {--blue: etc} and much more. There is a way to remove these elements and leave only the one that I set via child theme in sass/child-theme.scss?

Thank you

## Issue is about..
  - [X] a Question
  - **WordPress Version:** 4.9.6
  - **OS Version:**  MacOS [10.11.6

[2018-05-28 13:26] kemie commented on #636
Just a note- might be useful to remove references to Own in the docs and acknowledgements. That made me think it was part of the package too.

[2018-05-29 12:36] Rodge1 opened #691 "Woocommerce translation mixed"
## Issue is about..
  - [ ] a Bug Report

## Please tell us about your environment:

  - **WordPress Version:** 4.9.x
  - **OS Version:**  MacOS [10.13.4]
  - **Browser:** [ all ]
  - **Language:** [ all | PHP | SQL | HTML | S/CSS | Javascript | jQuery | ES6 | JSON | XML]

Some strings are not translated as they are woocommerce pages. This only occurs in understrap, other theme's work fine. Looks

[2018-05-29 12:50] pattonwebz commented on #691
I haven't looked closely but this is probably a text domain issue (template overrides inside the theme may have themes slug as textdomain instead of woocommerse textdomain).

[2018-05-29 14:17] corallus commented on #691
Just created a pull request with the fix: https://github.com/understrap/understrap/pull/692

[2018-05-30 16:36] zachatkinson opened #693 "AMP by Wordpress.com with Understap Nav Menu Not Showing"
## Issue is about..
  - [ x ] a Feature Request
  - [ x ] a Question
  - [ x ] I need help

## Please tell us about your environment:

  - **WordPress Version:** 4.9.6
  - **OS Version:** MacOS [10.13.4]
  - **Browser:** [ all ]
  - **Language:** [PHP | HTML | S/CSS | Javascript]

---

# Issue Overview for Bugreports
Recently I've been launching a new client site using a child of Understrap, my pr

[2018-05-30 16:45] pattonwebz commented on #693
I wasn't aware there were specific issues with the walker implementation when used with AMP. Nobody has reported it to me in the walker repo :confused:

If you know what needs changed or why it's not working then I can put the fix in the upstream repo and make a PR to merge it here.

[2018-05-30 16:47] zachatkinson commented on #693
Wow, thanks for your incredibly fast response.  I'll be digging in heavy today to find out whats wrong.  If you want a live example check out

https://manhattan-construction.com/about-manhattan-construction/

https://manhattan-construction.com/about-manhattan-construction/amp

I'm pretty sure if I follow that "similar question asked at AMP git" I can get it going, but I didn't find that until late

[2018-05-30 17:01] pattonwebz commented on #693
As for the fast response: push notifications are a wonderful thing ;)

I'm just taking a look at your linked resources now. I didn't know that AMP menus worked in this way as I do not have much experience working with it. From the sounds of things it might actually be best to use a conditional in a filter to check for AMP request and then overload the walker with one from a different custom writte

[2018-05-30 18:33] zachatkinson commented on #693
This is my first experience using AMP too - so being unfamiliar with their best practices probably doesn't help matters :). I agree the best course of action would be to check for AMP request and decide whether to load the sidebar or just behave as intended as a normal menu in the header.

### Working With AMP
One of the difficulties I have found while working on this AMP project is how little inf

[2018-05-31 01:14] Thomas-A-Reinert commented on #636
I totally agree- some party REALLY DO suck! Too many places to improve actually. Please bear with us as we´re actually trying to improve README´s, Documentation and such.  Coming up soon (no promises being made on that one, but we´re working on it, okay?)

[2018-05-31 01:26] Thomas-A-Reinert commented on #690
This is all about the parent theme. Please refer to the [child-theme issue-tracker](https://github.com/understrap/understrap-child) if you got any problems with the child theme, okay?

[2018-05-31 01:26] #690 closed

[2018-05-31 01:27] #691 closed

[2018-05-31 01:29] Thomas-A-Reinert commented on #693
@pattonwebz thanks for jumping in into that issue! Really.

Never met that problem, but i´m not really AMP-optimizing my sites (yet)

Do you need other dev-environments to evalue? If that´s the case please let me know.

[2018-05-31 09:12] nuriye commented on #636
That would be really really great! I could not find any documentation or good readme for the theme!

[2018-05-31 18:18] Mugane commented on #266
I mean, the whole point of understrap is to have a BASE theme for creating your own theme, right? using a child theme with it defeats the purpose.

[2018-05-31 20:09] DonCream commented on #536
I say yes to webpack, but no to yarn, even tho I use yarn in my projects...
webpack is better at handling js, but yarn can be unstable when moving between projects...

https://mixmax.com/blog/to-yarn-and-back-again-npm

[2018-05-31 21:08] Rodge1 commented on #691
It is inside the template files included in understrap. I'll look closer later. for now i've commented them out. and added others to child.

[2018-06-01 02:40] Rory2 commented on #525
@raisonon Id love for this feature to be added to Understrap, so here is one vote for that pull request!  Ive tried your code above with IrtezaAsadRizvi's outline and still cannot get it to work.

Thanks

[2018-06-01 12:33] 0dp commented on #536
But @DonCream are you saying that we dont't handle javascript well right now? Where do you see improvements to be made, in the way we handle javascript?
How would javascript be handled better with webpack compared to what we do now?

[2018-06-01 17:08] GuerrillaCoder commented on #536
Just read this article while was pretty nice: https://blog.andrewray.me/webpack-when-to-use-and-why/

So it seems webpack adds dependency graph that allows you to require any static file, not just .js files.  How that plays out into a practical benefit I am not sure yet.  Maybe it gives a more pluggable nature to the code where you can add module and it handles all the assets for that module not j

[2018-06-01 23:05] ZacharyElkins commented on #313
@GuerrillaCoder  The way I would go about it is to modify the WooCommerce template files. They have areas for their grid that can be edited.

It depends on how much you'd like to be Bootstrapified. If it's just the product listings it's pretty simple, but there are multiple ways of doing it.

Here's how I implemented it:
## 1. Add `row` to product loop
https://github.com/woocommerce/woocommerce/bl

[2018-06-01 23:20] ZacharyElkins commented on #208
https://moonsrarebooks.com/
![screen shot 2018-06-01 at 17 19 32-fullpage](https://user-images.githubusercontent.com/25933268/40867248-12c0a202-65c0-11e8-8e78-182c406354e8.png)

[2018-06-01 23:57] Thomas-A-Reinert commented on #71
Hm, seems... Yes AND No!

[2018-06-02 00:05] Thomas-A-Reinert opened #694 "Template testing?template=test.md"
Please delete anything that does not apply for you!

## Issue is about..
  - [ ] a Bug Report
  - [ ] a Feature Request
  - [ ] a Suggestion
  - [ ] a Question
  - [ ] I need help

## Please tell us about your environment:

  - **WordPress Version:** 4.9.x
  - **OS Version:** [Windows 7 | Windows 8 | Windows 10] | Linux [Distribution / Version] | MacOS [Version] | Android [Version] | iOS [Version]

[2018-06-02 00:06] Thomas-A-Reinert commented on #694
Doesn´t seem to work at all, sorry for the bloat.. :/

[2018-06-02 00:06] #694 closed

[2018-06-02 00:13] Thomas-A-Reinert opened #695 "Testing dedicated issue templates.."
# Testing

[x] YES

[] NO!

[2018-06-02 00:15] Thomas-A-Reinert commented on #695
Nope, replies don´t use that template :/

[2018-06-02 00:16] Thomas-A-Reinert commented on #71
Okay, well yes - got it! :)
When you open up a new issue, you can add parameters like https://github.com/understrap/understrap/issues/new?template=test.md which will use my testing template. But I think that cannot be applied to EXISTING issues.

Besides, I don´t think that can be applied to follow ups to an issue.  See https://github.com/understrap/understrap/issues/695

Did a quick research, but

[2018-06-02 00:19] Thomas-A-Reinert commented on #313
@ZacharyElkins would you be so kind to commit that info to the documentation project? Thanks in advance!

[2018-06-02 01:42] ZacharyElkins commented on #71
@Thomas-A-Reinert What I meant was something like this:
https://formspree.io

There are other solutions, however this seems to be the most popular for Github Pages. Add a form to the docs or main site.

[2018-06-02 01:57] ZacharyElkins commented on #313
@Thomas-A-Reinert A whole lot more can be said about replacing Woo styles with Bootstrap. Is that something we really want to add though?

At that point we could be replacing it and including it in Understrap, which may be less than ideal for some users. Including it in Understrap would also add more upkeep and troubleshooting/documentation. Removing WooCommerce styling and replacing it with Boots

[2018-06-02 02:17] Thomas-A-Reinert commented on #313
Yo @ZacharyElkins. Thats not an easy one.
Once you make "Bootstrap4" a project premise, that´s not a decision anymore. And I guess that goes with the majority of US-Users, if I´m not all wrong.

1. Yes - it needs maintainance. More than we want, actually.
2. But - better have it updated through the parent than by WooCommerce itself. Because. I made a (child) based pon UnderStrap and HEAVILY adjust

[2018-06-04 00:47] dylannirvana commented on #624
I am still getting these in Terminal:
+ gulp@3.9.1
updated 1 package and audited 25551 packages in 13.878s
found 52 vulnerabilities (12 low, 32 moderate, 8 high)
  run `npm audit fix` to fix them, or `npm audit` for details
$ gulp -v
[20:44:15] CLI version 2.0.1
[20:44:15] Local version 3.9.1

[2018-06-04 09:04] 0dp commented on #624
@dylannirvana since you we are not using any of the packages in the final dist of the theme you can ignore them. If you think otherwise feel free to `npm audit fix` them, if it does not resolve the 'issues' you will have to contact package authors 👍

[2018-06-04 18:02] sewerpanda opened #696 "Source Map Error popper.js"
## Issue is about..
  - [ ] a Question
  - [ ] I need help

## Please tell us about your environment:

  - **WordPress Version:** 4.9.6
  - **OS Version:** Windows 10
  - **Browser:** Firefox Developer
  - **Language:** Javascript | jQuery | ES6 | JSON

---

# Issue Overview

When the page loads I get this error. The issue started appearing recently and I can't trace it back to a specific change.

[2018-06-04 21:32] 0dp commented on #624
New update to my gulp4 branch https://github.com/0dp/understrap/tree/gulp4

[2018-06-04 21:46] nachoumaran opened #697 "when browsersync compiles creates a new version theme-aac703cf83.min.css and theme-9e59e9050c.min.js"
Issue is about..
 a Question
 I need help

Please tell us about your environment:

WordPress Version: 4.9.6
OS Version: Sierra 10.13.5

[2018-06-04 21:59] Thomas-A-Reinert commented on #697
And the question IS?! Please be a bit more explicit or I´ll close this issue at once because our crystal balls are currently on vacation.. :P

Renaming of the files is meant as a cache-buster.

[2018-06-04 21:59] #697 closed

[2018-06-04 22:00] #695 closed

[2018-06-04 22:17] nachoumaran commented on #697
sorry :p but I did not know how to explain it, what happens is that every
time browsersync compiles a new min.css file is created, how can I make
this not happen?

thanks

El lun., 4 jun. 2018 a las 17:59, Thomas A. Reinert (<
notifications@github.com>) escribió: